.yc-popover-element{
  width:168px;
  .ant-popover-content{
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12) !important;
  }
  .ant-popover-inner-content{
    background:#fff;
    padding:12px;
  }
    .ant-popover-arrow:after{
      border-right-color: transparent !important;
    }

}