.yc-initial-password {
  .yc-default {
    z-index: 9999;
    background-color: #ccc;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .yc-initial-password-title {
    text-align: center;
    font-size: 18px;
    margin-right: 62px;
    font-family: PingFangSC-Medium, serif;
    font-weight: 500;
    color: rgba(24, 29, 39, 1);
    line-height: 18px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .yc-initial-content {
    .ant-form-item-label label {
      font-size: 14px;
    }
  }
}
