<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="index.css">
	<style>
		___style___
	</style>
	<meta charset="UTF-8">
	<title>详情页内容</title>
	<script src="org.js"></script>
</head>
<body>

<div style="display: none">
	<div class="t1 b-b">Demo 样式</div>
	<div class="content">
		<div class="title b-b">
			<div class="t2 f-b">资产拍卖（智能精准匹配 {asset.total}）</div>
			<div class="content">
				<li><i></i><u>标签体</u>色撒旦飞 <span class="tag">测试标签</span><span class="tag case-tag">测试标签</span></li>
				<table class="table-border">
					<tr>
						<td><u>标签体</u>色撒旦飞</td>
						<td><u>标签体</u>色撒旦飞</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


</div>

<div class="{overview.1001.display}">
	<div class="t1 b-b">概览</div>
	<div class="wrapper">

	</div>
</div>

{assets.content}

{risk.content}

<div class="{overview.1001.display}">
	<div class="t1 b-b">工商基本详情</div>
	<div class="wrapper">
	</div>
</div>

</body>
</html>
