.yc-tabs-wrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
  ul{
    overflow: hidden;
  }
  .yc-tabs-un-active{
    &:hover{
      background-color: $background-list-hover;
    }
  }
  .yc-tabs-li{
    cursor: pointer;
    display: inline-block;

    span{
      display: block;
      color:#20242E;
    }
  }
  .yc-tabs-right{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }

}
.yc-tabs-normal{
  border-bottom: 2px solid $color-base;
  .yc-tabs-li{
    padding: 15px 20px;
    span{
      font-size: 15px;
      line-height: 15px;

    }

  }
  .yc-tabs-active{
    background: $color-base;
    span{
      color: #FFFFFF;
      font-weight: 400;
    }
  }
}

.yc-tabs-simple{
  .yc-tabs-un-active:hover{
      background-color:#FFFFFF;
  }
  border-bottom: 1px solid $background-line;
  ul{
    //padding-left: 10px;
  }
  .yc-tabs-li{
    padding: 12px 20px;
    span{
      font-size: 14px;
      line-height: 15px;
    }
  }
  .yc-tabs-active{
    position: relative;
    .yc-tabs-active-line{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index:1;
      height:2px;
      background-color: $common-warning;
    }
    span{
      color: $common-warning;
      // font-weight: bold;
    }
  }
}

.yc-tabs-simple-warning{
  .yc-tabs-un-active:hover span{
    color:$common-warning;
  }
  .yc-tabs-active{
    .yc-tabs-active-line{
      background-color: $common-warning;
    }
    span{
      color: $common-warning;
      // font-weight: bold;
    }
  }
}

.yc-tabs-simple-primary{
  .yc-tabs-un-active:hover span{
    color:$common-base;
  }
  .yc-tabs-li{
    padding: 20px 23px 17px 23px;
    span{
      font-size: 16px;
      line-height: 18px;
    }
  }
  .yc-tabs-active{
    .yc-tabs-active-line{
      height: 3px;
      background-color: $common-base;
    }
    span{
      color: $common-base;
      // font-weight: bold;
    }
  }
}
