.yc-business-wrapper {
  color: #20242e;
  padding: 0 20px;
  box-sizing: border-box;
  .ant-breadcrumb {
    display: inline-block;
  }
  .yc-search-right {
    float: right;
    .yc-btn {
      background: #fff;
      height: 30px;
    }
    .yc-icon-export {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 6px;
      width: 16px;
      height: 16px;
      background-image: url("../../../assets/img/icon/icon_export.png");
    }
  }
  .yc-content-breadcrumb {
    padding: 24px 0;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    list-style: none;
    border-radius: 4px;
    .ant-breadcrumb {
      font-size: 14px;
    }
  }
  .yc-business-ob {
    padding-bottom: 15px;
    .yc-module-title {
      line-height: 1;
      padding: 10px 0;
      margin-bottom: 12px;
      font-size: 14px;
    }
    .yc-form-group {
      overflow: hidden;
      font-size: 12px;
      line-height: 22px;
      a {
        color: #337ab7;
        &:hover {
          text-decoration: underline;
        }
      }
      .yc-basic-msg-title {
        color: #7d8699;
        width: 160px;
        float: left;
      }
      .yc-basic-msg-inner {
        float: left;
      }
    }
    .yc-from-container {
      width: 500px;
      display: inline-block;
      padding: 5px 0;
      .yc-from-lable1 {
        font-size: 12px;
        display: inline-block;
        color: #7d8699;
        width: 80px;
        text-align: left;
      }
      .yc-from-lable2 {
        font-size: 12px;
        display: inline-block;
        color: #7d8699;
        width: 180px;
        text-align: left;
        .yc-red {
          display: inline-block;
          width: 10px;
          color: #f66c5b;
          vertical-align: bottom;
        }
      }
      .yc-from-input {
        width: 200px;
      }
    }
  }
  .yc-business-table {
    padding-top: 30px;
    padding-bottom: 15px;
    .yc-table-header {
      overflow: hidden;
      padding: 0;
      margin-bottom: 12px;
      .table-header-left {
        font-size: 14px;
        color: #20242e;
        padding-right: 20px;
        line-height: 14px;
        margin: 14px 0;
        margin-right: 20px;
        float: left;
      }
    }
  }
}
