.pendingModal {
  .pendingModal-businessNo {
    max-height: 250px;
    overflow: auto;
    margin-bottom: 15px;
    .ant-form-item {
      margin-bottom: 5px !important;
    }
  }
  // .pendingModal-fontsize-bottom {
  //     .ant-form-item {
  //       margin-bottom: 5px !important;
  //   }
  // }
}

.business-tips{
  background-color: $background-list;
  width: 407px;
  border-radius: 2px;
  padding: 8px 20px;
  &-icon{
    font-size: 14px;
    color: $text-remark;
    margin-right: 8px;
    vertical-align: top;
  }
  &-title{
    display: inline-block;
    color: $text-remark;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    width: 345px;
  }
}

.business-oper{
  margin-top: 20px;
  &-name{
    vertical-align: top;
    font-size: 14px;
    color: #262626;
  }
  &-choose{
    display: inline-block;
    &-box{
      &-link{
        margin-left: 8px;
        &:hover{
          text-decoration: underline;
        }
      }
      &-upload{
        color: #595959;
        font-size: 14px;
      }
    }
    &-file{
      color: #1275E0;
      font-size: 14px;
      margin-top: 8px;
    }
    &-over{
      margin-top: 8px;
      color: #F82626;
      font-size: 14px;
    }
    &-tips{
      margin-top: 8px;
      font-size: 14px;
      color: $text-remark;
    }
  }
}
