<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta charset="UTF-8">
	<title>债务人详情报告</title>
</head>
<body>
	<!-- 封面 -->
	<div class="exp-title">
		<div class="title">{base.title}</div>
		<div class="name-content">
			{base.userInfo}
		</div>
		<div class="time">{base.queryTime}</div>
	</div>

	<!-- 债务人基本信息 -->
	<div class="exp-info border-b {debtor.display}">
		<div class="default-icon">
			<img src="../../img/debtor.png" alt="">
		</div>
		<div class="info">
			<li class="font-xl">
			<span class="n-title name-dishonest">
				{debtor.obligorName}
				{debtor.dishonest}
			</span>
			</li>
			<li class="mg8-0">
				<div class="nAndI">
					<span class="n-title">身份证号/统一社会信用代码：</span>
					<span class="n-desc">{debtor.obligorNumber}</span>
				</div>
			</li>
			<li>
				<div class="nAndI ">
					<span class="n-title">曾用名：</span>
					<span class="n-desc">{debtor.formerNames}</span>
				</div>
			</li>
		</div>
	</div>

	<!-- 业务信息 -->
	<div class="{business.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">基本信息</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table class="table-border table-baseInfo">
				<tr>
					<td>业务编号</td>
					<td>{business.caseNumber}</td>
					<td>借款人名称</td>
					<td>{business.obligorName}</td>
				</tr>
				<tr>
					<td>身份证号/统一社会信用代码</td>
					<td>{business.obligorNumber}</td>
					<td>机构名称</td>
					<td>{business.orgName}</td>
				</tr> 
			</table>
		</div>
	</div>

	<!-- 业务相关人||业务列表 类目 -->
	<div class="{about.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">{about.title} {about.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				{about.list}
			</table>
		</div>
	</div>

	<!-- 资产拍卖类目 -->
	<div class="{asset.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">资产拍卖 {asset.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table class="vertical-align-top">
				<tr>
					<th style="width: 200px">资产信息</th>
					<th>匹配原因</th>
					<th style="width: 360px">拍卖信息</th>
				</tr>
				<!-- 资产拍卖列表 -->
				{asset.list}
			</table>
		</div>
	</div>


	<!-- 代位权【立案】类目 -->
	<div class="{subrogation.trial.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">代位权_立案信息 {subrogation.trial.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">立案日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>案件类型</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{subrogation.trial.list}
			</table>
		</div>
	</div>

	<!-- 代位权【开庭】类目 -->
	<div class="{subrogation.court.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">代位权_开庭公告 {subrogation.court.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">开庭日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>案由</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{subrogation.court.list}
			</table>
		</div>
	</div>

	<!-- 代位权【涉诉文书】类目 -->
	<div class="{subrogation.judgment.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">代位权_裁判文书 {subrogation.judgment.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>文书信息</th>
				</tr>
				{subrogation.judgment.list}
			</table>
		</div>
	</div>

	<!-- 金融资产_竞价项目类目 -->
	<div class="{assetsBidding.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">金融资产_竞价项目 {assetsBidding.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table class="vertical-align-top">
				<tr>
					<th style="width: 200px">资产信息</th>
					<th>匹配原因</th>
					<th style="width: 360px">拍卖信息</th>
				</tr>
				<!-- 资产拍卖列表 -->
				{assetsBidding.list}
			</table>
		</div>
	</div>

	<!-- 金融资产_公示项目类目 -->
	<div class="{publicity.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">金融资产_公示项目 {publicity.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">起始时间</th>
					<th>相关单位</th>
					<th>项目名称</th>
					<th>挂牌价格（元）</th>
					<th style="width: 10%">期满日期</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				<!-- 资产拍卖列表 -->
				{publicity.list}
			</table>
		</div>
	</div>

	<!-- 涉诉【立案】类目 -->
	<div class="{lawsuit.trial.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">涉诉监控_立案信息 {lawsuit.trial.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">立案日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>案件类型</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{lawsuit.trial.list}
			</table>
		</div>
	</div>

	<!-- 涉诉【开庭】类目 -->
	<div class="{lawsuit.court.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">涉诉监控_开庭公告 {lawsuit.court.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">开庭日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>案由</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{lawsuit.court.list}
			</table>
		</div>
	</div>

	<!-- 涉诉【涉诉文书】类目 -->
	<div class="{lawsuit.judgment.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">涉诉监控_裁判文书 {lawsuit.judgment.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th colspan="2">当事人</th>
					<th>法院</th>
					<th>案号</th>
					<th>文书信息</th>
				</tr>
				{lawsuit.judgment.list}
			</table>
		</div>
	</div>

	<!-- 企业破产重组 类目 -->
	<div class="{bankrupt.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">企业破产重组 {bankrupt.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th>企业</th>
					<th>起诉法院</th>
					<th>标题</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{bankrupt.list}
			</table>
		</div>
	</div>


	<!-- 招标中标 类目 -->
	<div class="{bidding.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">招标中标 {bidding.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th style="width: 200px;">相关单位</th>
					<th>标题</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{bidding.list}
			</table>
		</div>
	</div>

	<!-- 重大税收违法 】类目 -->
	<div class="{tax.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">重大税收违法 {tax.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th colspan="2">当事人</th>
					<th>案件性质</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{tax.list}
			</table>
		</div>
	</div>

	<!-- 环保处罚 -->
	<div class="{epb.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">环保处罚 {epb.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 10%">发布日期</th>
					<th>公司名称</th>
					<th>标题</th>
					<th style="width: 10%">更新日期</th>
				</tr>
				{epb.list}
			</table>
		</div>
	</div>

	<!-- 【失信记录】类目 -->
	<div class="{dishonest.display}">
		<!-- 类目标题 -->
		<div class="entry-title">
			<div class="et-cot fw-bold font-l">失信记录 {dishonest.total}</div>
		</div>
		<!-- 类目表格 -->
		<div class="entry-table border-t">
			<table>
				<tr>
					<th style="width: 30%;">判决信息</th>
					<th style="width: 30%;">执行情况</th>
					<th >生效法律文书确定的义务</th>
				</tr>
				{dishonest.list}
			</table>
		</div>
	</div>

</body>

</html>
