* {
  line-height: 1.45;
  padding: 0;
  margin: 0;
  color: #20242e;
  font-size: 13px;
  list-style: none;
  font-family: "Alibaba PuHuiTi R", Arial, serif;
}
body {
  max-width: 904px;
  margin: 0 auto;
  padding: 2px;
  background: #ffffff url("../../img/watermark.png") repeat-y center top;
}
.name-dishonest{
  position: relative;

}
.name-dishonest .img-icon-dishonest{
  position: absolute;
  bottom: 2px;
  right: -34px;
  width: 45px;
  height: 33px;
  background-image:url("../../img/icon_shixin.png") ;
  background-size: 100%;
}
.name-dishonest .img-icon-dishonest-ed{
  position: absolute;
  bottom: 2px;
  right: -34px;
  width: 45px;
  height: 33px;
  background-image:url("../../img/icon_dishonest_ed.png") ;
  background-size: 100%;
}
span {
  font-size: inherit; }

a {
  font-size: inherit; }

.base-b {
  color: #1C80E1; }

.remark {
  color: #7d8699; }

.title {
  color: #20242e; }
.display-none {
  display: none; }
.mg8-0 {margin: 4px 0;}

.mg8 {margin: 8px 0;}

.mg10-0 {margin: 5px 0;}

.mg0-5 {margin: 0 10px;}

.font-m {font-size: 14px;}

.font-l {font-size: 15px;}
.font-xl {font-size: 16px;}
.fw-bold {font-weight: bold;}
.border-t {border-top: 1px solid #E5E5E5; }
.content-wrapper {
  font-size: 13px;
  position: relative;
}
.nAndI {
  display: inline-block; }
.nAndI span {
  display: inline-block;
  vertical-align: middle; }

.nAndI .n-icon {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  background: #000; }
.nAndI .n-remark {
  color: #7d8699; }
.nAndI .n-title {
  color: #7d8699; }
/* 通用样式*/
.exp-title{
  height: 1300px;
}
.exp-title .title{
  margin-top: 90px;
  display: block;
  text-align: center;
  line-height: 400px;
  height: 400px;
  font-size: 80px;
  color: #384482;
}
.exp-title .name{
  display: block;
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 50px;
  color: #20242E;
}
.exp-title .time{
  margin-top: 450px;
  display: block;
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 36px;
  color: #20242E;
}

.firstName{
  font-size: 30px;
  line-height: 67px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.exp-info {
  overflow: hidden;
  padding: 22px 0 15px 0; }
.exp-info .n-regStatus{
  height: 26px;
  margin-left: 40px;
  font-size: 12px;
  padding: 2px 5px;
}
.exp-info .default-icon {
  width: 67px;
  height: 67px;
  float: left;
  background-color: #1e8cfa;
  border-radius: 5px;
  border: 1px solid #a8c8ff; }
.exp-info .default-icon img{
  width: 100%;
  border-radius:4px;
}
.exp-info .info {
  margin-left: 85px; }

table {
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 100%; }
table tr {
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  text-align: left; }

.page-break-style tr{
  page-break-before: initial!important;
  page-break-after: initial!important;
  page-break-inside: initial!important;
}
table th {
  text-align: left; }
table th, table td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #E5E5E5; }
table th {
  padding-left: 10px;
  background-color: #F0F1F5;
  color: #4e5566; }

.entry-title {
  padding: 15px 0 10px 0; }
.entry-title .et-cot {
  border-left: 4px solid #1C80E1;
  padding-left: 10px; }

.table-1-td-right tr td:first-child{
  text-align: right;
}
