.yc-tabs-search {
  text-align: left;
  margin-bottom: 0;
  .tabs-nav-item {
    border: 1px solid #DADDE6;
    display: inline-block;
    padding: 12px 23px;
    font-size: 16px;
    line-height: 14px;
    color: #4A4A4A;
    position: relative;
    margin-right: -1px;
    cursor: pointer;
    &:hover{
      border: 1px solid #384482;
      z-index:999;
    }
  }
  .active {
    color: #fff;
    border-color: #384482;
    background-color: #384482;
    text-decoration: none;
  }
}
