.status-dot{
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 42%;
  border-radius: 50%;
}

.status-text{
  margin-left: 10px;
}

.modal-content{
  font-size: 14px;
  line-height: 22px;
  color: #20242E;
}
