body {
  padding: 2px;
  width: 1280px;
  border: 1px solid #ddd;
}
.pie-chart {
  width: 200px;
  height: 200px;
  position: relative;
}
.wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: rotate(36deg);
}

.pic-outside {
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  position: absolute;
}

.pic-inside {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 100px, 200px, 0px);
  border-radius: 50%;
  background-color: blue;
}

.pic-white {
  width: 125px;
  height: 125px;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9999
}

.blue {
  background-color: #45A1FF;
}

.yellow {
  background-color: #FCD44A;
}

.cyan {
  background-color: #4DCAC9;
}

.green {
  background-color: #59C874;
}

.red {
  background-color: #F2657A;
}

.purple {
  background-color: #965EE3;
}


