html {
  // input 高度出现误差。height和line-height 不统一；
  .has-error .yc-input, .has-error .yc-input:focus, .has-error .yc-input:hover {
    border-color: $common-error !important;
    box-shadow: 0 0 0 2px rgba(251, 90, 92, 0.43) !important;
  }

  .yc-input-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: $input-fontsize;

    .yc-placeholder{
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      padding: 8px 7px;
      color: $text-placeholder;
      line-height: 1.5;
    }
    &:focus {
      border: 1px solid $text-link;
      box-shadow: 0 0 4px 0 $text-link;
    }
    //.yc-input-large {
    //  padding: 9px 9px
    //}
    .yc-input {
      //input 默认最小高度 16px
      position: relative;
      display: inline-block;
      padding: 9px 7px;
      width: 100%;
      cursor: text;
      color: #333;
      font-size: inherit;
      line-height: 14px;
      //background-color: #fff;
      background:transparent;
      background-image: none;
      border: 1px solid $border-base;
      border-radius: 2px;
      &:after{
        content: ' ';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        margin-top: 1px;
      }
      &:hover{
        border: 1px solid $text-link;
      }
      &:focus{
        border: 1px solid $text-link;
        box-shadow: 0 0 4px 0 $text-link;
      }
    }
    .yc-input-disabled {
      cursor: auto;
      border: 1px solid $background-border;
      background-color: $background;
      color: $fontColor-help;
    }

    .yc-input-right{
      padding-right: 45px;
    }
    .yc-input-group-right {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 6px;
      width: 40px;
      height: 20px;
      font-size: inherit;
      span{
        height: 14px;
        width: 39px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }
    }
    .yc-input-left{
      padding-left: 77px;
    }
    .yc-input-group-left {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 70px;
      height: 34px;
      font-size: inherit;

      span{
        height: 34px;
        width: 69px;
        line-height: 34px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }
    }
  }

  .yc-input-price-focus{
    border: 1px solid $text-link;
    box-shadow: 0 0 4px 0 $text-link;
  }
  .yc-input-price-normal{
    border: 1px solid $background-border;
  }
  .yc-input-price{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: $input-fontsize;

    &:hover {
      border: 1px solid $text-link;
      // box-shadow: 0 0 4px 0 $text-link;
    }
    &:focus {
      border: 1px solid $text-link;
      box-shadow: 0 0 4px 0 $text-link;
    }

    .yc-price {
      //input 默认最小高度 16px
      position: relative;
      display: inline-block;
      padding: 9px 7px;
      width: 56px;
      cursor: text;
      color: #333;
      font-size: inherit;
      line-height: 14px;
      border: none;
      //background-color: #fff;
      background:transparent;
      background-image: none;

      border-radius: 2px;
      &:after{
        content: ' ';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        margin-top: 1px;
      }
    }
    .yc-input-price-left {
      min-width: 70px;
      height: 20px;
      font-size: inherit;
      display: inline-block;
      vertical-align: top;

      span{
        height: 14px;
        width: 69px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }
    }
    .yc-input-price-text{
      min-width: 40px;
      font-size: inherit;
      display: inline-block;
      vertical-align: top;

      span{
        padding: 9px 7px;
        line-height: 14px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }
    }
  }

}
