.yc-portrait-inquiry .yc-inquiry-personal {
  .personal-intro {
    padding: 20px 20px 0 20px;
  }
  .personal-intro-child {
    .yc-tabs-simple {
      //margin-top: 12px;
      border-bottom: 1px solid #dadde6 !important;
    }
  }
  .public-table-tab {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid $border-base;
    .yc-tabs-simple-prefix {
      border-right: none !important;
      min-width: 110px;
      .yc-table-num {
        color: $text-link;
        margin-left: 4px;
      }
    }
  }
}
.inquiry-overview {
  background-color: #f2f2f2;
  min-height: 500px;
  font-size: 0;
  .overview-public {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }
  .overview-left {
    @extend .overview-public;
    min-height: 495px;
    background-color: #fff;
    width: 594px;
  }
  .overview-line {
    height: 10px;
    @extend .overview-public;
    width: 12px;
  }
  .overview-right {
    @extend .overview-public;
    background-color: #fff;
    min-height: 495px;
    width: 594px;
  }
  .overview-left-item {
    width: 3px;
    height: 16px;
    background: $text-link;
    display: inline-block;
    margin-right: 7px;
  }
}

.personal-intro {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  transition: all 0.5s;
  .personal-info {
    padding: 5px 0 20px 0;
    border-bottom: 1px solid $border-base;
    position: relative;
    .intro-icon {
      width: 60px;
      height: 60px;
      float: left;
      background-color: #1e8cfa;
      padding: 10px;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      color: #ffffff;
    }
    .intro-content {
      margin-left: 76px;

      .intro-base-info,
      .intro-used {
        margin-top: 7px;
      }
    }
    .intro-title {
      span {
        display: inline-block;
      }

      .intro-title-name {
        font-size: 17px;
        position: relative;
        //margin-right: 30px;

        .intro-title-tag {
          position: absolute;
          //right: -20px;
          bottom: 5px;
        }
      }

      .intro-title-status {
        width: 44px;
        height: 20px;
        text-align: center;
        color: $common-success;
        border: 1px solid $common-success;
        line-height: 18px;
      }
    }
    .intro-download {
      position: absolute;
      right: 0;
      top: 0;
      width: 84px;
      z-index: 1;
      i {
        margin-right: 4px;
      }
    }
  }
}

.personal-intro-child {
  .yc-tabs-simple {
    border-bottom: 1px solid $border-base !important;
  }
}
.personal-intro-affix {
  .yc-intro-sub-items {
    border-bottom: 1px solid $border-base !important;
  }
}
