.visualize-overview {
  background-color: #f2f2f2;
  min-height: 500px;
  font-size: 0;
  .overview-public {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }
  .overview-left {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    min-height: 495px;
    background-color: #fff;
    width: 594px;

  }

  .overview-line {
    height: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 12px;
  }
  .visualize-overview-line {
    height: 10px;
    width: 100%;
    background: #f2f2f2;
  }
  .overview-right {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    background-color: #fff;
    min-height: 495px;
    width: 594px;
  }
  .overview-left-item {
    width: 3px;
    height: 16px;
    background: $text-link;
    display: inline-block;
    margin-right: 7px;
  }
  .yc-overview-title {
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    color: $text-title;
    border-bottom: 1px solid $background-line;
  }
  .yc-overview-container {
    padding: 20px;
    .overview-container-title {
      font-size: 14px;
      color: $text-title;
      height: 16px;
      line-height: 16px;
      margin: 10px 20px 20px 0;
      .yc-business-icon {
        width: 16px;
        position: relative;
        top: 3px;
        cursor: pointer;
        margin-left: 6px;
      }
      .container-title-num {
        display: inline-block;
        font-weight: 500;
        margin-right: 6px;
        height: 14px;
        line-height: 14px;
        position: relative;
        bottom: 3px;
      }
      .container-title-name {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        position: relative;
        bottom: 3px;
      }
    }
    .overview-container-content {
      padding: 0 0 20px 10px;
    }
  }
}
