.yc-noPhone-Modal {
  .yc-modal-part {
    .yc-modal-part-a {
      width: 256px;
      margin: 0 auto;

      img {
        margin: 0 auto;
        width: 208px;
        height: 208px;
      }

      li {
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        color: #20242e;
      }
    }

    .yc-modal-part-b {
      padding: 0 15px;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #20242e;
      text-align: justify;
      line-height: 22px;
    }
    .yc-modal-part-c {
      text-align: center;
      .yc-modal-btn {
        width: 197px;
        height: 34px;
      }
    }
  }
}
