.yc-datePicker-none {
  display: none;
}
.yc-datePicker-placeholder {
  position: relative;
  display: inline-block;
  font-size: 12px;
  right: 93px;
  top: -13px;
  color: $text-placeholder;
  .yc-datePicker-name {
    position: absolute;
    width: 100px;
  }
}
