.yc-clueModal-content{
  height: 300px;
  padding-top: 34px;
  overflow-x: hidden;
  &-label{
    display: flex;
    &-time{
      max-width: 68px;
      color: #7D8699;
    }
    &-url{
      margin-left: 12px;
    }
    &-name{
      min-width: 64px;
      height: 20px;
      //margin-left: 8px;
      padding:0px 8px ;
      color: #7D8699;
      text-align: center;
      background: #F0F1F5;
      border-radius: 1px;
      border: 1px solid #DADDE6;
    }
  }
}
.ant-modal-body{
  padding:0px 0px 0px 16px ;
}
