.yc-clueModal-content{
  max-height: 300px;
  padding-top: 34px;
  overflow-x: hidden;
  margin-left: 30px;
  &-label{
    display: flex;
    &-time{
      max-width: 68px;
      color: #7D8699;
    }
    &-url{
      margin-left: 12px;
    }
    &-name{
      padding: 0 8px;
      min-width: 64px;
      line-height: 20px;

      background: #F0F1F5;
      text-align: center;
      border-radius: 1px;
      border: 1px solid #DADDE6;
      font-size: 12px;
      display: inline-block;
    }
  }
}
.yc-broke-subrogation{
  .ant-modal-body{
    padding:0px 0px 0px 0px;
  }
  .ant-modal-header{
    padding-left: 20px;
  }
}

