.yc-header-wrapper {
  background-color: $common-base;
  height: 50px;
  width: 100%;

  .yc-header-content {
    width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;

    .header-logo {
      padding: 10px 0;
      float: left;

      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 22px;
        width: 22px;
      }

      span {
        //@extend .yc-public-title;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
      }
    }

    .header-item-active {
      .yc-badge{
        font-weight: bold;
      }
      background: $common-base-active;
    }

    .header-item-normal {
      &:hover {
        background: $common-base-hover;
      }
    }

    .header-menu {
      display: inline-block;
      margin-left: 80px;

      .header-item {
        display: inline-block;
        height: 50px;
        padding: 15px;
        position: relative;
        cursor: pointer;
        color: #FFFFFF;
      }

      .header-child-item {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 6;
        min-width: 120px;
        height: auto;
        background-color: #FFFFFF;
        box-shadow:0 2px 6px 0 rgba(3,8,35,0.13);
        border: 1px solid $border-base;
        border-radius: 0 0 2px 2px;

        .child-item {
          position: relative;
          height: 40px;
          padding: 0 20px;
          line-height: 40px;
          font-size: 14px;
          cursor: pointer;
          color: $text-content;
          &:hover {
            background-color: $background-list-hover;
            .header-itemChild_wrapper{
              display:inline-block;
            }
          }
        }
        .header-itemChild_wrapper{
          display: none;
          position: absolute;
          top: -1px;
          left: 118px;
          z-index: -1;
          height: auto;
          width: 140px;
          font-weight: 400;
          .header-itemChild_content{
            height: auto;
            min-width: 96px;
            display: inline-block;
            background-color: #FFFFFF;
            border: 1px solid $border-base;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            border-radius: 2px;
          }
          .itemChild-item{
            position: relative;
            min-width: 96px;
            height: 40px;
            padding: 0 20px;
            line-height: 40px;
            font-size: 12px;
            cursor: pointer;
            font-weight: 400;
            color: $text-content;
          }
        }
        .child-item-active,
        .itemChild-active {
          color:$text-title!important;
          font-weight: 700!important;;
          background-color: $background-list-hover;
        }

        .child-item-normal,
        .itemChild-normal {
          &:hover {
            background-color: $background-list-hover;
          }
        }
      }

      .header-item-YC01,
      .header-item-YC02,
      .header-item-YC07,
      .header-item-YC08,
      .header-item-YC03,
      .header-item-YC04,
      .header-item-YC05,
      .header-item-YC06,
      .header-item-YC10,
      .header-item-YC11{
        &:hover {
          .header-child-item {
            display: block;
            font-weight: 400;
            z-index: 6;
          }
        }
      }
    }

    .header-else {
      float: right;
      height: 50px;
      .header-else-left {
        float: left;
      }
      .yc-leftTime {
        float: left;
        margin-top: 15px;
        padding: 4px 7px;
        margin-right: 13px;
        font-size: 12px;
        font-weight: bold;
        background: $common-warning;
        line-height: 1;
        border-radius: 0.25em;
      }

      .else-child {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        cursor: pointer;
        position: relative;
      }

      .else-notice {
        line-height: 30px;
        padding: 10px;
        padding-right: 20px;
        &:hover {
          .yc-header-message {
            display: block;
          }
        }
        .yc-Ellipse-icon {
          position: absolute;
          top: 6px;
          max-width: 31px;
          height: 18px;
          left: 22px;
        }
        .yc-Circular-icon {
          position: absolute;
          top: 5px;
          left: 23px;
          height: 20px;
        }
        .yc-badge-num {
          font-size: 10px;
          position: absolute;
          top: 0;
          left: 30px;
          transform: scale(0.83);
        }
        .yc-header-message {
          display: none;
        }

        .notice-icon {
          padding: 13px;
          width: 26px;
          height: 26px;
        }

        .notice-number {
          margin-left: 5px;
          font-size: 12px;
          line-height: 25px;
        }
      }

      .else-line {
        height: 20px;
        margin-top: 15px;
        width: 1px;
        background: $border-base;
        opacity: 0.3;
      }

      .else-username {
        max-width: 175px;
        line-height: 18px;
        padding: 7px 20px;

        &:hover {
          .yc-header-center {
            display: block;
          }
        }

        .yc-header-center {
          display: none;
        }

        .else-child-li {
          font-size: 12px;
          line-height: 18px;
          text-align: right;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .else-child-li-orgName {
          font-size: 12px;
          line-height: 18px;
          text-align: right;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          opacity: 0.6;
        }
      }
    }
  }
}

.yc-container-wrapper {
  background: $background-base;
  margin: 20px 0 40px 0;
  min-height: 688px;
  padding-bottom: 80px;

  .yc-container-content {
    background: #FFFFFF;
    width: 1200px;
    height: 100%;
    min-height: 745px;
    margin: 0 auto;
  }
}

.yc-footer-wrapper {
  height: 80px;
  width: 100%;
  overflow: hidden;
  background-color: $background-footer;
  color: #fff;
  position: absolute;
  bottom: 0;

  .yc-footer-content {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;

    .clear-fix {
      zoom: 1;

      .left {
        float: left;
        padding-left: 18px;

        .copyright-item-first {
          padding-top: 10px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.7);
          span:hover {
            cursor: pointer;
          }
        }

        .copyright-item {
          padding: 10px 0;
          font-size: 12px;
          line-height: 1;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .right {
        float: right;
        //padding-top: 20px;

        .copyright-code-text {
          display: inline-block;
          width: 276px;
          margin-top: 10px;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 10px;
          line-height: 20px;
          vertical-align: top;
          font-size: 12px;
        }
      }
    }
  }
}
// 版本更新
.yc-versionUpdate {
  position: relative;

  .ant-modal-content{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .0) !important;
  }

  .ant-modal-body {
    padding: 0 !important;

    .yc-title-box{
      position: relative;
      z-index: 10;
    }

    .yc-close{
      position: absolute;
      right: 20px;
      bottom: 190px;
      z-index: 2;
      cursor: pointer;
    }

    img {
      position: relative;
      margin-top: -87px;
      display: block;
    }

    .yc-modal-weChat-content {
      padding: 26px 30px 44px 36px;
      text-align: center;

      .yc-modal-weChat-title {
        font-size: 26px;
        line-height: 26px;
        font-weight: bold;
        color: $text-title;
        margin-bottom: 24px;
      }

      .yc-modal-weChat-img-title {
        font-size: 20px;
        line-height: 20px;
        color: #4E5566;
        margin-bottom: 40px;
      }

    }

    .yc-modal-box {
      background-color: #FFFFFF;
      padding-top: 60px;
      position: absolute;
      width: 540px;
      top: 208px;

      .yc-modal-content {
        padding: 40px 0 50px 57px;

        .yc-modal-header {
          height: 22px;
          font-size: 22px;
          font-weight: 700;
          color: $text-title;
          line-height: 26px;
        }

        .yc-modal-header-dec {
          padding-top: 20px;
          color: #4E5566;
          font-size: 18px;
          line-height: 18px;
        }

        .yc-modal-title {
          //margin-top: 40px;
          line-height: 20px;
          font-size: 20px;
          position: relative;
          left: -10px;
          font-weight: bold;
          color: $text-title;
        }
        .yc-label-box {
          margin-top: 20px;
          .yc-label-title {
            position: relative;
            margin: 30px 0;
            line-height: 16px;
            font-size: 16px;
            padding-left: 12px;
            color: $text-title;
            .yc-modal-icon {
              position: absolute;
              border-radius: 50%;
              width: 7px;
              height: 7px;
              top: 5px;
              left: 0;
              background: #FD5F3D;
            }
          }

          .yc-label-subTips{
            color: $text-content;
            font-size: 14px;
            margin-top: 16px;
          }

          .yc-label-tips{
            font-weight: bold;
            margin-left: 4px;
          }
          .yc-label-desp{
            font-size: 14px;
            color: #4E5566;
            margin-left: 16px;
          }
        }

        .yc-modal-list {
          margin-top: 10px;
          color: #4E5566;
          font-size: 14px;
          line-height: 14px;
          margin-left: 14px;

          .yc-modal-list-detail {
            color: #FF6D10;
            margin-left: 2px;
          }
        }

        .yc-label-text {
          position: relative;
          line-height: 14px;
          font-size: 14px;
          font-weight: 400;
          color: $text-content;
          margin-bottom: 10px;
          padding-left: 12px;
          width: 500px;
        }

        .yc-modal-btn {
          width: 320px;
          height: 44px;
          margin-top: 44px;
          margin-left: 53px;
          display: block;
          background: linear-gradient(to right, #FD6339, #FD4A4D);
          color: #FFFFFF;
          border: 1px solid #FF6971;
          &:hover {
            border: 1px solid #FF5059;
            background: linear-gradient(to right, #FD4D4C, #FD4D4C);
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
  }

}
