.yc-btn {
  //@extend .ie-css3;
  padding: 2px 9px;
  margin: 0;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  position: relative;
  margin-right: 5px;

  span {
    font-size: 14px;
    line-height: 24px;
  }
}

.yc-btn-large {
  padding: 4px 9px;

  span {
    font-size: 16px;
    line-height: 24px;
  }
}

.yc-btn-disabled {
  cursor: not-allowed;
  border: 1px solid $background-border;
  background-color: $background;
  color: $fontColor-help;
}

.yc-btn-primary {
  border: 1px solid $color-base;
  background-color: $color-base;
  color: #FFFFFF;
  &:hover{
    border: 1px solid $color-btn-hover;
    background-color: $color-btn-hover;
  }
  &:active{
    border: 1px solid $color-btn-active;
    background-color: $color-btn-active;
  }
}

.yc-btn-default {
  border: 1px solid $background-border;
  background-color: #FFFFFF;
  color: #333333;
  &:hover{
    border: 1px solid $color-base;
    background-color: #FFFFFF;
    color: $color-base;
  }
  &:active{
    border: 1px solid $color-base;
    background-color: #FFFFFF;
    color: $color-base;
    box-shadow: 0 0 4px 0 $color-base;
  }
}
.yc-btn-warning {
  border: 1px solid $color-alert-error;
  background-color: $color-alert-error;
  color: #FFFFFF;
  &:hover{
    border: 1px solid $color-alert-error-hover;
    background-color: $color-alert-error-hover;

  }
  &:active{
    border: 1px solid $color-alert-error;
    box-shadow: 0 0 4px 0 $color-alert-error;
  }
}

