// table 多级下拉
.ant-table-row-expand-icon {
  background-color: transparent;
  border: 1px solid transparent;
}
//.ant-modal-footer button+button{
//  background-color: inherit!important;
//  border-color: inherit!important;
//}

.ant-table-row-collapsed:after {
  content: "";
  background-image: url("../img/home/icon_arrow_right.png");
  width: 16px;
  height: 17px;
  border: medium none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
}

.ant-table-row-expanded:after {
  content: "";
  background-image: url("../img/home/icon_arrow_down2.png");
  width: 16px;
  height: 17px;
  border: medium none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
}

// 降低下拉框层级
.ant-select-dropdown {
  z-index: 1050;
}

// antd table行内下划线
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #f7f7f7;
}

// 限制tooltip最大高度
.ant-tooltip-inner {
  max-height: 700px;
  overflow-y: auto;
}

.ant-table-selection-column {
  width: 30px !important;
  padding-left: 10px !important;
  padding-right: 0 !important;
}

// 无数据时不展示分页器和下分割线
.ant-table-placeholder {
  border-bottom: 0;
}

// 分页器文字颜色
.ant-pagination-total-text {
  color: $text-remark;
}

.ant-calendar-picker {
  input::-webkit-input-placeholder {
    color: $text-placeholder;
  }
}

.ant-select-selection__placeholder {
  color: $text-placeholder;
}

// 弹框样式
.ant-modal-title {
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: $text-title;
}

.ant-modal-footer {
  padding: 20px;

  .ant-btn {
    min-width: 70px;
  }

  button + button {
    margin-left: 10px;
    background-color: $text-link;
    border-color: $text-link;

    &:hover {
      background-color: $text-link-hover;
      border-color: $text-link-hover;
    }
  }

  .ant-btn-lg {
    height: 32px;
    width: 90px;
  }
}

.ant-table-body, .cTableContent {
  tbody {
    tr:hover {
      background: $background-list-hover;
    }

    tr:nth-child(even) {
      background-color: #F7F7F7;

      &:hover {
        background: $background-list-hover;
      }
    }
  }

  table {
    thead th {
      background: $background-base !important;
      color: $text-content !important;
    }

    tr td {
      //border-bottom: none !important;
    }
  }
}

.ant-tooltip-inner {
  max-width: 550px;
}

// antd 表头样式
.ant-table-header {
  padding-bottom: 20px !important;
  margin-bottom: -20px !important;
  overflow: auto !important;
}
// 时间轴圆环大小
.ant-timeline-item-head {
  width: 10px;
  height: 10px;
}
// 时间轴竖线位置
.ant-timeline-item-tail {
  left: 4px;
}

// 输入框报错
.has-error .ant-form-explain, .has-error .ant-form-split {
  color: $common-error !important;
}

.ant-table-tbody>tr>td, .ant-table-thead>tr>th>span {
  color: #4E5566;
}

// 下拉颜色
.ant-select-selection-selected-value {
  color: $text-title;
}

/* 使用 css 技巧来动态设置的对话框位置 */
//.vertical-center-modal {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
.vertical-center-modal .ant-modal {
  top: 20vh;
}
//.ant-modal {
//  top: 260px;
//}
.message-confirm-no-icon {
  button {
    width: 84px;
    height: 34px;
  }
  .ant-modal-body {
    padding: 30px;
  }
  .ant-confirm-btns button+button {
    margin-left: 20px;
  }
  .ant-confirm-title {
    font-size: 16px;
  }
  .ant-confirm-content{
    margin-left: 12px !important;
    margin-top: 24px !important;
  }
}
.message-confirm-icon {
  button {
    width: 84px;
    height: 34px;
  }
  .ant-modal-body {
    padding: 30px;
  }
  .ant-confirm-btns button+button {
    margin-left: 20px;
  }
  .ant-confirm-title {
    font-size: 16px;
  }
  .ant-confirm-content{
    margin-left: 38px !important;
    margin-top: 24px !important;
  }
}
// 输入框颜色
.ant-input {
  color: $text-title;;
}

// table header border-radius
.ant-table, .ant-table-header,.ant-table-header table {
  border-radius: 0 !important;
}
