.judgement{
  &-header{
    padding: 30px 20px;
    position: relative;
    &-title{
      color: #20242E;
      font-size: 18px;
      font-weight: bold;
      max-width: 1050px;
      display: inline-block;
    }
    &-btn{
      right: 20px;
      position: absolute;
      color: $text-link;
      width: 84px;
      border-color: $text-link
    }
  }
  &-line{
    padding: 0 20px;
    height: 14px;
    &-title{
      font-size: 14px;
      color: $text-remark;
      display: inline-block;
    }
    &-line{
      width: 1100px;
      height: 1px;
      background-color: $background-line;
      display: inline-block;
      line-height: 1px;
      vertical-align: middle;
    }
  }
  &-body{
    padding: 20px 50px 40px 50px;
    position: relative;
    .caseNumber{
      font-weight: bold;
    }
  }
}
