.yc-content-query {
  .yc-query-item {
    position: relative;
    margin-right: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;

    .yc-query-item-title {
      padding: 9px 3px;
      height: 34px;
      line-height: 14px;
      font-size: 12px;
    }
  }
  .yc-query-item-btn{
    float: right;
    margin-right: 0px;
  }

}
