.yc-content-query {
  .yc-query-item {
    position: relative;
    margin-right: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;

    .yc-query-item-title {
      padding: 9px 3px;
      height: 34px;
      line-height: 14px;
      font-size: 12px;
    }
  }
  .yc-more-option{
    height: 34px;
    font-size: 12px;
    line-height: 34px;
    margin-left: 20px;
    color: $fontColor-base-1;
    &:hover{
      color: $fontColor-base;
    }
  }
  .yc-query-item-btn{
    float: right;
    // margin-right: 17px;
  }
}
.info-line{
  padding: 0 3px;
  color: #999;
}
.assets-an-info{
  .ant-modal-body{
    padding: 15px 14px 15px 10px!important;
    .ant-confirm-title{
      font-size: 20px;
      display: inline-block;
    }
    .ant-confirm-line{
      margin: 8px 0;
      height: 1px;
      background-color: #999;
    }
  }
  button{
    width:85px
  }
}
