.info-line{
  padding: 0 3px;
  color: #999;
}
.assets-an-info{
  top: 25%!important;
  width:600px!important;
  .ant-modal-body{
    padding: 15px 14px 15px 10px!important;
    .ant-confirm-title{
      font-size: 16px;
      display: inline-block;
    }
    .ant-confirm-line{
      margin: 8px 0;
      height: 1px;
      background-color: $background-border;
    }
  }
  button{
    width:60px
  }
}

.min-width-80-normal{
  min-width: 80px;
}
.min-width-80{
  min-width: 80px;
  white-space:nowrap;
}
