.info-line{
  padding: 0 3px;
  color: #999;
}
.assets-an-info{
  .ant-modal-body{
    padding: 15px 14px 15px 10px!important;
    .ant-confirm-title{
      font-size: 20px;
      display: inline-block;
    }
    .ant-confirm-line{
      margin: 8px 0;
      height: 1px;
      background-color: #999;
    }
  }
  button{
    width:85px
  }
}

.min-width-80{
  min-width: 80px;
}
