.yc-tag-active {
  display: inline-block;
  font-size: 0;
  position: relative;
  padding-right: 20px;
  margin-right: -8px;
  border-left: 1px solid #fff;
  .yc-label-tag-content {
    width: 130px;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 24px 0 24px;
    border: 1px solid $text-link;
    color: #fff !important;
    border-right: none;
    background: $text-link;
  }

  .line-triangle-left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    .line-triangle-outside {
      border-width: 12px;
      border-color: transparent transparent transparent $text-link;
      border-style: solid;
      position: relative;

      .line-triangle-inside {
        border-width: 11px;
        border-color: transparent transparent transparent #fff;
        border-style: solid;
        position: absolute;
        left: -12px;
        top: -11px;
      }
    }
  }
  .line-triangle-right {
    position: absolute;
    z-index: 1;
    right: -4px;
    top: 0;
    .line-triangle-outside {
      border-width: 12px;
      border-color: transparent transparent transparent $text-link;
      border-style: solid;
      position: relative;

      .line-triangle-inside {
        border-width: 11px;
        border-color: transparent transparent transparent $text-link;
        border-style: solid;
        position: absolute;
        left: -12px;
        top: -11px;
      }
    }
  }
}

.yc-label-tag {
  display: inline-block;
  font-size: 0;
  position: relative;
  padding-right: 20px;
  margin-right: -8px;
  border-left: 1px solid #fff;
  &:hover {
    .yc-label-tag-content {
      cursor: pointer;
      color: $text-link;
      border: 1px solid $text-link;
      border-right: none;
    }
    .line-triangle-outside {
      border-color: transparent transparent transparent $text-link;
    }
  }
  .yc-label-tag-content {
    width: 130px;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    border: 1px solid $border-base;
    border-right: none;
    padding: 0 24px 0 24px;
    color: $text-title;
  }

  .line-triangle-outside {
    border-width: 12px;
    border-color: transparent transparent transparent $border-base;
    border-style: solid;
    position: relative;

    .line-triangle-inside {
      border-width: 11px;
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      position: absolute;
      left: -12px;
      top: -11px;
    }
  }
  .line-triangle-left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }
  .line-triangle-right {
    position: absolute;
    z-index: 1;
    right: -4px;
    top: 0;
  }
}

.yc-label-disabled {
  pointer-events: none;
  .yc-label-tag-content {
    cursor: not-allowed;
    border: 1px solid $border-base;
    background-color: #f5f5f5;
    color: #999;
    border-right: none;
  }
  .line-triangle-right {
    position: absolute;
    z-index: 1;
    right: -4px;
    top: 0;
    .line-triangle-outside {
      border-width: 12px;
      border-color: transparent transparent transparent $border-base;
      border-style: solid;
      position: relative;

      .line-triangle-inside {
        border-width: 11px;
        border-color: transparent transparent transparent #f5f5f5;
        border-style: solid;
        position: absolute;
        left: -12px;
        top: -11px;
      }
    }
  }
}
