.yc-assets-auction {

  .assets-tabs-right {
    li {
      display: inline-block;
      padding: 9px 5px;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
      }

      span {
        cursor: pointer;
        margin-left: 5px;
        line-height: 16px;
        font-size: 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .assets-auction-action {
    padding: 10px 0;
  }

  // 资产拍卖-资产信息
  .assets-info-content {
    li {
      padding-bottom: 6px;
      line-height: 16px;
      display: block;

      .list {
        display: inline-block;
        vertical-align: top;
      }

      .list-title {
        width: 60px;
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: justify;
      }

      .list-content {
        max-width: 160px;
      }
    }

    .list-dishonest {
      position: relative;

      .list-dishonest-status {
        position: absolute;
        left: 160px;
        bottom: 8px;
        width: 48px;
      }
    }
  }

  // 资产拍卖-资产信息
  // 资产拍卖-拍卖信息
  .yc-assets-table-info {

    .table-info-title {
      max-width: 360px;
      display: block;
    }

    .list-width-120 {
      width: 120px;
    }

    .list-width-180 {
      width: 180px;
    }

    .table-info-list {
      display: inline-block;
      line-height: 22px;

      .info {
        line-height: 22px;
        display: inline-block;
        vertical-align: middle;
      }

      .info-content {
        max-width: 115px;
      }

      .info-over {
        color: $color-alert-error;
      }

      .info-auction-1 {
        color: $color-warning-text;
      }

    }
  }
}

.yc-assets-auction-action {
  .auction-recovery {
    background-color: $color-alert-error;
    color: #fff;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .auction-button {
    width: 75px;
    margin-bottom: 6px;
  }
}

.yc-assets-auction-table-row {
  vertical-align: top;

  td {
    position: relative;
    padding: 15px !important;
  }

  .yc-assets-info-img {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 0;
    position: absolute;
  }
}


.assets-matching-reason-wrapper {
  em{
    color: $color-alert-error;
    font-style: normal;
  }
  .reason-content-wrapper {
    max-height: 64px;
    overflow: hidden;
    line-height: 16px;
  }
  .content-canClose{
    max-height: none!important;
  }
  .reason-action-none{
    display: none;
  }
  .reason-action {
    overflow: hidden;
    line-height: 14px;
    margin-top: 5px;
    .action-ellipsis {
      float: left;
    }

    .action-btn {
      float: right;
      cursor: pointer;
      margin-right: 4px;
      border-bottom: 1px solid #ffffff;
      &:hover{
        border-bottom: 1px solid $color-base;
      }
      i{
        margin-left: 2px;
        font-size: 7px;
      }

    }
  }
}
