/* 详情页「新」2020.02.19 */
.yc-information-detail-wrapper {

  .info-content{
    .inquiry-assets{
      padding: 10px 0;
    }
  }

  .yc-inquiry-public-table{
    .yc-tabs-simple-prefix{
      @extend .yc-public-normal-bold;
      min-width:90px;
      width: auto;
      line-height: 14px;
      border-right: 1px solid $border-base;
      border-left: 3px solid $text-link;
      margin: 12px 15px 12px 0;
      padding-right: 20px;
      padding-left: 7px;
      float: left;
    }
    .inquiry-public-table{
      padding-top: 5px;
    }
  }
  .yc-table-pagination{
    padding-bottom: 10px;
  }
  .yc-assets-auction .assets-info-content li .list-title {
    width:auto;
  }

  .info-wrapper {
    padding: 20px;
  }

  .mark-line {
    height: 12px;
    width: 100%;
    background-color: #F2F2F2;
  }

  .enterprise-info {
    padding: 5px 0 20px 0;
    border-bottom: 1px solid $border-base;
    position: relative;

    .intro-icon {
      width: 80px;
      height: 80px;
      float: left;
      background-color: #1E8CFA;
      padding: 10px;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      border-radius: 5px;
      color: #FFFFFF;
      position: relative;

      .intro-icon-img-w {
        overflow: hidden;
        background-color: #FFFFFF;
        position: absolute;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        line-height: 70px;
        border: 1px solid #1E8CFA;
        border-radius: 4px;

        .intro-icon-img {
          vertical-align: middle;
          width: 100%;
          border-radius: 4px;
        }
      }

    }

    .intro-content {
      margin-left: 96px;

      .intro-base-info, .intro-used {
        margin-top: 7px;
      }

    }

    .intro-title {

      span {
        display: inline-block;
      }

      .intro-title-name {
        font-size: 17px;
        position: relative;
        //margin-right: 10px;

        .intro-title-tag {
          position: absolute;
          //right: -10px;
          bottom: 0;
        }
      }

      .intro-title-status {
        width: 44px;
        height: 20px;
        text-align: center;
        color: $common-success;
        border: 1px solid $common-success;
        line-height: 18px;
      }
    }

    .intro-download {
      position: absolute;
      right: 10px;
      top: 0;
      width: 84px;
      z-index: 1;

      i {
        margin-right: 4px;
      }
    }
  }

  .enterprise-info{
    border-bottom:none;
    .yc-intro-sub-items{
      border-bottom:none;
    }
  }

  .yc-intro-sub-items{
    padding: 16px 0 12px 0;
    // border-bottom: 1px solid $border-base;
    .intro-btn-items{
      margin-right: 16px;
      min-width: 92px;
    }
  }
  .intro-list-border {
    line-height: 1;
    padding-right: 10px;
    border-right: 1px solid $border-base;
  }

  .intro-info-list {
    display: inline-block;
    margin-right: 10px;

  }
  .public-table-tab {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid $border-base;
    .yc-tabs-simple-prefix {
      border-right: none !important;
      min-width: 110px;
      .yc-table-num {
        color: $text-link;
        margin-left: 4px;
      }
    }
  }
  .enterprise-intro {
    background-color: #fff;
    padding: 20px 20px 0 20px;
    transition: all 0.5s;
    .enterprise-info {
      padding: 5px 0 20px 0;
      border-bottom: 1px solid $border-base;
      position: relative;
      .intro-icon {
        width: 80px;
        height: 80px;
        float: left;
        background-color: #1E8CFA;
        padding: 10px;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        color: #FFFFFF;
        position: relative;
        .intro-icon-img-w {
          overflow: hidden;
          background-color: #FFFFFF;
          position: absolute;
          width: 80px;
          height: 80px;
          left: 0;
          top: 0;
          line-height: 70px;
          border: 1px solid #1E8CFA;
          border-radius: 4px;
          .intro-icon-img {
            vertical-align: middle;
            width: 100%;
            border-radius: 4px;
          }
        }

      }
      .intro-content {
        margin-left: 96px;

        .intro-base-info, .intro-used {
          margin-top: 7px;
        }

      }
      .intro-title {

        span {
          display: inline-block;
        }

        .intro-title-name {
          font-size: 17px;
          position: relative;
          //margin-right: 10px;

          .intro-title-tag {
            position: absolute;
            //right: -10px;
            bottom: 0;
          }
        }

        .intro-title-status {
          width: 44px;
          height: 20px;
          text-align: center;
          color: $common-success;
          border: 1px solid $common-success;
          line-height: 18px;
        }
      }
      .intro-download{
        position: absolute;
        right: 0;
        top: 0;
        width: 84px;
        z-index: 1;
        i{
          margin-right: 4px;
        }
      }
    }

    .intro-list-border{
      line-height: 1;
      padding-right: 10px;
      border-right:1px solid $border-base;
    }
    .intro-info-list {
      display: inline-block;
      margin-right: 10px;

    }
  }
  .enterprise-intro{
    border-bottom:none;
    .yc-intro-sub-items{
      border-bottom:none;
    }
  }

  .enterprise-intro-child{
    .yc-tabs-simple {
      border-bottom: 1px solid $border-base !important;
    }
  }
  .enterprise-intro-affix {
    .yc-intro-sub-items{
      border-bottom:1px solid $border-base !important;
    }

  }

  .public-table-tab {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid $border-base;

    .yc-tabs-simple-prefix {
      border-right: none !important;
    }
  }
}
