.search-input{
  position: relative;
  width: 310px;
  display: inline-block;
  margin-right: 20px;
  .yc-search-placeholder {
    position: absolute;
    top: 9px;
    font-size: 12px;
    left: 8px;
    color: $text-placeholder;
  }
  .search-icon{
    display: inline;
    position: absolute;
    cursor: pointer;
    right: 68px;
    top: 8px;
  }
  .search-click{
    font-size: 12px;
    // width: 49px;
    // border-left: 1px solid #d9d9d9;
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    // padding: 9px;
  }
  .ant-input{
    height: 34px;
  }
}
