.yc-header-wrapper {
  background-color: $common-base;
  height: 50px;
  width: 100%;

  .yc-header-content {
    width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;

    .header-logo {
      padding: 8px 0;
      float: left;

      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 22px;
        width: 22px;
      }

      span {
        //@extend .yc-public-title;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
      }
    }

    .header-item-active {
      font-weight: bold;
      background: $common-base-active;
    }

    .header-item-normal {
      &:hover {
        background: $common-base-hover;
        font-weight: bold;
      }
    }

    .header-menu {
      display: inline-block;
      margin-left: 100px;

      .header-item {
        display: inline-block;
        height: 50px;
        padding: 15px;
        position: relative;
        cursor: pointer;
      }

      .header-child-item {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 3;
        min-width: 120px;
        height: auto;
        background-color: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid $border-base;
        border-radius: 0 0 2px 2px;

        li {
          height: 40px;
          padding: 0 20px;
          line-height: 40px;
          font-size: 12px;
          cursor: pointer;
          color: $text-title;

          &:hover {
            background-color: $background-list-hover;
          }
        }

        .child-item-active {
          background-color: $background-list-hover;
        }

        .child-item-normal {
          &:hover {
            background-color: $background-list-hover;
          }
        }
      }

      .header-item-YC01,
      .header-item-YC02,
      .header-item-YC07,
      .header-item-YC08,
      .header-item-YC03,
      .header-item-YC04,
      .header-item-YC05,
      .header-item-YC06 {
        &:hover {
          .header-child-item {
            display: block;
            font-weight: 400;
          }
        }
      }
    }

    .header-else {
      float: right;
      height: 50px;

      .yc-leftTime {
        float: left;
        margin-top: 15px;
        padding: 4px 7px;
        margin-right: 13px;
        font-size: 12px;
        font-weight: bold;
        background: $common-warning;
        line-height: 1;
        border-radius: 0.25em;
      }

      .else-child {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        cursor: pointer;
        position: relative;
      }

      .else-notice {
        line-height: 30px;
        padding: 10px;

        &:hover {
          .yc-header-message {
            display: block;
          }
        }

        .yc-header-message {
          display: none;
        }

        .notice-icon {
          padding: 13px;
          width: 26px;
          height: 26px;
        }

        .notice-number {
          margin-left: 5px;
          font-size: 12px;
          line-height: 25px;
        }
      }

      .else-line {
        height: 20px;
        margin-top: 15px;
        width: 1px;
        background: $border-base;
        opacity: 0.3;
      }

      .else-username {
        line-height: 18px;
        padding: 7px 20px;

        &:hover {
          .yc-header-center {
            display: block;
          }
        }

        .yc-header-center {
          display: none;
        }

        .else-child-li {
          font-size: 12px;
          line-height: 18px;
          text-align: right;
        }
      }
    }
  }
}

.yc-container-wrapper {
  background: $background-base;
  margin: 20px 0 40px 0;
  min-height: 688px;
  padding-bottom: 150px;

  .yc-container-content {
    background: #FFFFFF;
    width: 1200px;
    height: 100%;
    min-height: 740px;
    margin: 0 auto;
  }
}

.yc-footer-wrapper {
  height: 150px;
  width: 100%;
  overflow: hidden;
  background-color: $background-footer;
  color: #fff;
  position: absolute;
  bottom: 0;

  .yc-footer-content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    .clear-fix {
      zoom: 1;

      .left {
        float: left;
        padding-left: 18px;

        .copyright-item-first {
          padding-top: 20px;

          span:hover {
            cursor: pointer;
          }
        }

        .copyright-item {
          padding: 10px 0;
          font-size: 12px;
          line-height: 1;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .right {
        float: right;
        padding-top: 20px;

        .copyright-code-text {
          display: inline-block;
          width: 145px;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 10px;
          line-height: 20px;
          vertical-align: top;
          font-size: 12px;
        }
      }
    }
  }
}
