.yc-header-wrapper {
  background-color: $color-base;
  height: 50px;
  width: 100%;

  .yc-header-content {
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;

    .header-logo {
      padding: 8px 0;
      float: left;

      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 22px;
        width: 22px;
      }

      span {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .header-item-active {
      background: $color-text-hover;
    }
    .header-item-normal {
      &:hover {
        background: $color-text-hover;
      }
    }
    .header-menu {
      display: inline-block;
      margin-left: 100px;

      .header-item {
        display: inline-block;
        height: 50px;
        padding: 15px;
        position: relative;
        cursor: pointer;
        // span {
        //   cursor: pointer;
        // }
      }

      .header-child-item {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 3;
        min-width: 120px;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid $fontColor-hover;
        border-radius: 0 0 2px 2px;
        li {
          height: 40px;
          padding: 0 20px;
          line-height: 40px;
          font-size: 12px;
          cursor: pointer;
          color: $fontColor-base;
          &:hover {
            background-color: $fontColor-hover;
          }
        }
        .child-item-active {
          background-color: $fontColor-hover;
        }
        .child-item-normal {
          &:hover {
            background-color: $fontColor-hover;
          }
        }
      }
      .header-item-1,
      .header-item-2,
      .header-item-21,
      .header-item-22,
      .header-item-3,
      .header-item-4,
      .header-item-5,
      .header-item-6 {
        &:hover {
          .header-child-item {
            display: block;
          }
        }
      }
    }

    .header-else {
      float: right;
      height: 50px;
      .yc-leftTime {
        float: left;
        margin-top: 15px;
        padding: 4px 7px;
        margin-right: 13px;
        font-size: 12px;
        font-weight: bold;
        background: #f0ad4e;
        line-height: 1;
        border-radius: 0.25em;
      }
      .else-child {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        cursor: pointer;
        position: relative;
      }
      .else-notice {
        line-height: 30px;
        padding: 10px;
        &:hover {
          .yc-header-message {
            display: block;
          }
        }
        .yc-header-message {
          display: none;
        }

        .notice-icon {
          padding: 13px;
          width: 26px;
          height: 26px;
        }
        .notice-number {
          margin-left: 5px;
          font-size: 12px;
          line-height: 25px;
        }
      }

      .else-line {
        height: 20px;
        margin-top: 15px;
        width: 1px;
        background: #7a82aa;
      }

      .else-username {
        line-height: 18px;
        padding: 7px 20px;

        &:hover {
          .yc-header-center {
            display: block;
          }
        }
        .yc-header-center {
          display: none;
        }
        .else-child-li {
          font-size: 12px;
          line-height: 18px;
          text-align: right;
        }
      }
    }
  }
}

.yc-span-padding {
  padding: 5px 5px 5px 0;
  display: block;
  font-size: 14px;
  min-width: 80px;
}

.yc-container-wrapper {
  background: #f0f2f5;
  margin: 30px 0 50px 0;
  min-height: 688px;
  padding-bottom: 150px;
  .yc-container-content {
    background: #ffffff;
    width: 1200px;
    height: 100%;
    min-height: 666px;
    margin: 0 auto;
  }
}

.yc-footer-wrapper {
  height: 150px;
  width: 100%;
  overflow: hidden;
  background-color: #3a3f4c;
  color: #fff;
  position: absolute;
  bottom: 0;
  // .yc-footer-img {
  //   width: 14px;
  //   height: 14px;
  //   margin-right: 5px;
  //   position: relative;
  //   bottom: -2px;
  // }
  .yc-footer-content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    .clearfix {
      zoom: 1;
      .left {
        float: left;
        padding-left: 18px;
        .copyright-item-first {
          padding-top: 20px;
          span:hover {
            cursor: pointer;
          }
        }
        .copyright-item {
          padding: 10px 0;
          font-size: 12px;
          line-height: 1;
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .right {
        float: right;
        padding-top: 20px;
        .copyright-code-text {
          display: inline-block;
          width: 145px;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 10px;
          line-height: 20px;
          vertical-align: top;
          font-size: 12px;
        }
      }
    }
  }
}
