.yc-follow-model{
  .ant-modal-body{
    padding: 0!important;
  }
  .font-title{
    //color: $text-title;
    font-size: 14px;
    font-weight: 400 !important;
    color: $text-remark;
  }
  .font-desc {
    color: #7D8699;
    font-size: 14px;
  }
  .yc-assets-follow-body {
    position: relative;
    max-height: 520px;
    padding: 30px 30px 0 30px;
    overflow: auto;
    .yc-follow-line {
      margin: 10px 0;
      height: 1px;
      width: 100%;
      background-color: $border-base;
    }

    .follow-add-title {
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      //padding-bottom: 10px;
      .anticon-plus-circle {
        line-height: 15px;
        color: $color-base;
        font-size: 15px;
        margin-right: 5px;
        background-color: red;
      }
    }
    .follow-content{
      .list-height-hr{
        height: 10px;
        width: 100%;
      }
      .ant-input-number-handler-wrap{
        display: none;
      }
      // 设置提醒信息
      .follow-content-remind{
        width: 400px;
        background-color: #FAFAFA;
        min-width: 172px;
        margin-left: 120px;
        margin-bottom: 49px;
        margin-top: -26px;
        border: 1px solid #FAFAFA;
        overflow: hidden;
        &-list-item{
          font-size: 14px;
          color: #20242E;
          margin-left: 20px;
          &-time{
            color: #7D8699;
            font-size: 14px;
            margin-left: 72px;
            margin-top: 8px;
          }
          &-title{
            float: left;
            text-align: right;
            font-size: 14px;
            line-height: 33px;
            margin-right: 16px;
          }
          &-content{
            min-height: 28px;
            line-height: 28px;
            margin-top: 20px;
            position: relative;
            .ant-select-selection__rendered{
              padding-right: 20px;
            }
            .ant-calendar-range-picker{
              width: 217px;
              height: 34px;
            }
            &-remark-count{
              display: inline-block;
              background-color: #FFFFFF;
              height: 20px;
              position: absolute;
              padding-right: 5px;
              text-align: right;
              bottom: 1px;
              right: 1px;
              color: #999999;
              padding-bottom: 4px;
              line-height: 16px;
              font-size: 12px;
            }
            .ant-select-selection{
              min-height: 34px;
            }
            &-time{
              width: 71px;
              height: 34px;
              position: relative;
              top: -0.5px;
              text-align: center;
              display: inline-block;
              background: #F0F1F5;
              border-radius: 0px 2px 2px 0px;
              border: 1px solid #DADDE6;
              border-left: 0px;
            }
            &-corner {
              position: absolute;
              left: 341px;
              top: 15px;
              width: 0px;
              height: 0px;
              border: 4px solid #7D8699;
              border-bottom-color: transparent;
              border-left-color: transparent;
              border-right-color: transparent;
            }
          }
          &-remind{
            float: right;
            margin-right: 20px;
            margin-top: 4px;
            font-size: 14px;
          }
        }
      }

      .follow-list-item{
        padding-left: 10px;
        margin-bottom: 20px;
        .list-item-title{
          float: left;
          width: 100px;
          text-align: right;
          font-size: 14px;
          line-height: 28px;
        }
        .list-item-content{
          margin-left: 120px;
          min-height: 28px;
          line-height: 28px;
          width: 400px;
          position: relative;
          &-suffix{
            float: right;
            margin-top: -22px;
            color: #B2B8C9;
            font-size: 14px;
          }
          &-unit{
            position: absolute;
            top: 3px;
            right: 10px;
            padding-left: 10px;
            margin-top: 7px;
            line-height: 16px;
            height: 14px;
            border-left: 1px solid #dadde6;
          }
          .remark-count{
            display: inline-block;
            min-width: 50px;
            background-color: #FFFFFF;
            height: 20px;
            position: absolute;
            padding-right: 5px;
            text-align: right;
            bottom: 1px;
            right: 1px;
            color: #999999;
            padding-bottom: 4px;
            line-height: 16px;
            font-size: 12px;

          }
          .select-option-mark{
            margin-left:15px
          }
          .ant-select-selection__choice__content{
            .select-option-mark{
              display: none;
            }
          }
          .list-item-mark{
            font-size: 12px;
            color: #7D8699;
          }
          .ant-btn-loading{
            padding-left: 22px!important;
          }
          .item-class{
            vertical-align: top;

          }
        }
      }
    }


    .ant-select-dropdown-menu-item:after{display: none!important;}
  }

}
.yc-follow-list {
  .follow-add-title{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    //padding-bottom: 10px;
    display: inline-block;
  }
  .ant-steps-step{
    padding-bottom: 15px;
  }
  .follow-add-btn{
    color: #fff;
    float: right;
    width: 104px;
    height: 30px;
    margin-top: -8px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    background-color: #1C80E1;
    line-height: 30px;
    &-icon{
      font-size: 14px;
      margin-right: 4px;
    }
  }
  .follow-list-step {
    margin-top:15px;
    .ant-steps-title{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 13px;
      padding-right: 0px!important;
    }
    //.ant-steps-item-last{
    //  .ant-steps-title{
    //    padding-right: 0px!important;
    //  }
    //}
    .list-step-title-normal{
      font-weight: 400;
      margin-left: 5px;
      float: right;
    }
    .mark-status-3, .mark-status-6{
      padding: 0px 7px;
      background-color:  #F0F7FF;
      color: #1C80E1;
      border: 1px solid #77B9F9;
      border-radius: 2px;
    }
    .mark-status-9 {
      padding: 0px 7px;
      background-color: #F2FFF8;
      color: #3DBD7D;
      border: 1px solid #86D8AF;
      border-radius: 2px;
    }
    .mark-status-12 {
      padding: 0 5px;
      background-color: #FFFFFF;
      color: #999999;
      border-radius: 2px;
    }
    .mark-status-15 {
      padding: 0px 7px;
      border: 1px solid #DADDE6;
      background-color: #F0F1F5;
      color: #7D8699;
      border-radius: 2px;
    }
    .list-step-title-icon{
      @extend .list-step-title-normal;
      font-size: 16px;
      cursor: pointer;
      margin-left: 266px;
    }
    .list-step-title-mark-status{
      @extend .list-step-title-normal;
      width: 64px;
      height: 20px;
      min-width: 64px;
      margin-left: 10px;
    }
    .list-step-title-mark-time{
      font-size: 14px;
      color: $text-remark;
      display: flex;
      @extend .list-step-title-normal;

    }
    .ant-steps-head-inner{
      .anticon {
        color: rgb(130, 189, 240)!important;
      }
    }
  }
  figure{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 50px;
    p{
      color: #4E5566;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.yc-accruingMoney{
  font-size: 14px;
  margin-top: 13px;
  &-left{
    color: #7D8699;
  }
  &-right{
    color: #FB5A5C;
  }
}



