//  画像查询 样式
.yc-portrait-inquiry{
  padding: 20px;

  .yc-inquiry-title{
    padding: 100px 0 70px 0;
    font-size: 36px;
    color: $common-base;
    text-align: center;
  }
  .yc-inquiry-content{
    padding: 36px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid $common-base;
    .yc-query-item{
      margin:12px 0;
      .ant-radio-wrapper{
        font-size: 14px;

      }
    }
    .yc-query-item-text1{
      margin-right: 20px;
    }
    .yc-query-item-text1,.yc-query-item-text2{
      display: inline-block;
    }
  }
  .yc-to-go-list{
    button{
      display: block;
      margin: 20px 0;
    }
  }
  .yc-inquiry-view{
    padding: 20px 0;
  }
}
