.statistics-container {
  &-header {
    height: 110px;
    line-height: 110px;
    border-bottom: 1px solid #E5E5E5;
    &-left {
      color: $text-title;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      padding-left: 20px;
    }
    &-right {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin-right: 40px;
      height: 100%;
      min-width: 380px;
      padding-top: 28px;
      .horizontal-line {
        width:1px;
        height:68px;
        margin: 0 40px;
        vertical-align: top;
        display: inline-block;
        background-color: $background-line;
      }
      .right-statistics {
        line-height: 16px;
        display: inline-block;
        vertical-align: top;
        &-ownerName {
          font-size: 20px;
          line-height: 20px;
          color: $text-title;
          &-text {
            margin-top: 20px;
            color: $text-content;
            font-size: 14px;
            line-height: 14px;
          }
        }
        &-icon {
          font-size: 16px;
          margin-right: 6px;
        }
        &-name {
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          color: $text-content;
        }
        &-text {
          padding-left: 22px;
          padding-top: 20px;
          color: $text-title;
          &-num {
            font-size: 28px;
            line-height: 28px;
            font-weight: 500;
            margin-right: 10px;
          }
        }
      }
    }
  }
  &-content {
    padding: 24px 0 0 20px;
    &-title {
      height: 16px;
      line-height: 16px;
      font-size: 16px;
      font-weight: bold;
      &-item {
        background: $text-link;
        display: inline-block;
        vertical-align: text-top;
        width: 3px;
        height: 16px;
        margin-right: 10px;
      }
      &-remark {
        color: #7D8699;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &-left-item {
      margin-top: 25px;
      margin-left: 14px;
      display: inline-block;
      width: 500px;
      border-right: 1px solid $background-line;
      &-text {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        color: $text-content;
      }
      &-num {
        font-size: 28px;
        line-height: 26px;
        color: #F75B6C;
        padding-top: 20px;
        padding-left: 18px;
        &-distribution {
          float: right;
          color: $text-content;
          font-size: 12px;
          .statistic-distribution-name {
            padding-right: 20px;
            color: $text-content;
          }
          .statistic-distribution-text {
            display: inline-block;
            min-width: 95px;
            color: #7D8699;
            &-normal {
              margin-left: 10px;
              color: $text-title;
            }
          }
        }
      }
      &-icon {
        font-size: 14px;
        margin-right: 4px;
      }
    }
    &-right-item {
      display: inline-block;
      vertical-align: top;
      margin-top: 25px;
      min-width: 280px;
      margin-left: 30px;
      border-right: 1px solid $background-line;
      .right-statistics {
        line-height: 16px;
        display: inline-block;
        vertical-align: top;
        &-icon {
          font-size: 16px;
          margin-right: 6px;
        }
        &-name {
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          color: $text-content;
        }
        &-text {
          padding-left: 22px;
          padding-top: 24px;
          color: $text-title;
          &-num {
            font-size: 24px;
            line-height: 28px;
            font-weight: 500;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .statistics-tree-container {
    padding: 20px 30px 20px 13px;
    box-sizing: border-box;
    .yc-no-container {
      padding: 30px;
      text-align: center;
      color: #bcc1cc;
      font-size: 12px;
      line-height: 30px;
      .yc-data-img {
        background-image: url("../../../assets/img/home/img_blank_nodata.png");
        margin: 0 auto;
        width: 300px;
        height: 180px;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    .yc-group-search {
      width: 310px;
      margin-bottom: 16px;
      position: relative;
      .yc-home-placeholder {
        position: absolute;
        top: 9px;
        font-size: 12px;
        left: 33px;
        color: $text-placeholder;
      }
      // input 框icon样式
      .action-search {
        &::before {
          content: "";
          width: 16px;
          height: 16px;
          border: medium none;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          display: inline-block;
          background-repeat: no-repeat;
          -webkit-transition: -webkit-transform 0.2s ease;
          transition: -webkit-transform 0.2s ease;
        }
      }
      .yc-search-icon {
        position: absolute;
        z-index: 9;
        left: 10px;
        top: 10px;
        line-height: 16px;
      }
      .yc-group-icon {
        position: absolute;
        right: 20px;
        top: 9px;
        cursor: pointer;
      }
      .yc-group-input {
        width: 300px;
        padding-left: 32px;
        padding-right: 58px;
        height: 34px;
        line-height: 22px;
        border-radius: 2px;
      }
      .yc-group-button {
        position: absolute;
        z-index: 5;
        right: 1px;
        top: 1px;
        border: 0;
        background-color: $text-link;
        border-left: 1px solid $background-base;
        box-shadow: none;
        height: 32px;
        border-radius: 2px;
        &:hover {
          background-color: $text-link-hover;
        }
      }
      .yc-input-list {
        list-style: none;
        border: 1px solid $background-base;
        position: absolute;
        top: 36px;
        left: 0;
        width: 245px;
        background-color: #ffffff;
        padding-left: 0;
        //max-height: 300px;
        //overflow: auto;
        z-index: 99;
        .yc-input-list-item {
          padding: 6px 8px;
          font-size: 12px;
          color: $text-title;
          cursor: pointer;
          &:hover {
            background: $background-base;
          }
        }
      }
    }
  }
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    padding: 12px 15px;
  }
}
.treeTable {
  background-repeat: repeat;
  // background-image: url("../../assets/img/home/img_bg.png");
}
.ant-table-tbody > tr > td {
  position: relative;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 12px 10px;
  height: 44px;
  font-size: 12px;
}
.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  border-color: grey;
}
.table > tbody > tr > th {
  background-color: $background-base;
  //border: 1px solid #dfe3eb;
  border-left: 0;
  font-size: 12px;
}

.table-striped tr > th {
  padding: 13px 15px;
  color: $text-content;
  white-space: nowrap;
}
.treeTable tr > th:last-child {
  border-right: 0;
}
.title-name {
  width: 400px;
}
.yc-table-child {
  color: $text-link;
  text-decoration: none;
  cursor: pointer;
}
.yc-table-body {
  color: $text-link;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
