.yc-nav-tab-wrapper{
  height: 58px;
  padding: 0 10px;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  .nt-content{
    display: inline-block;
  }
  .nt-suffix{
    position: absolute;
    z-index:1;
    top: 0;
    height: 58px;
    right: 0;
  }
  .nt-item{
    cursor: pointer;
    display: inline-block;
    padding: 14px 20px 16px;
    background-color: #fff;
    position: relative;
    margin-right: 60px;
    height: 58px;
    &:last-child {
      margin-right: 0;
    }
    &-span{
      height: 28px;
      display: inline-block;
      color: $text-title;
      font-size: 16px;
      font-family: "Microsoft YaHei", "PingFang SC", "Arial", serif;
      span{
        line-height: 28px;
      }
    }
    &-icon{
      height: 28px;
      display: inline-block;
      margin-right: 8px;
      vertical-align: top;
      i{
        vertical-align: middle;
        font-size: 20px;
      }
      img{
        margin-top: 3px;
        height: 22px;
      }
    }
  }
  .nt-item_active{
    .nt-item-span,.nt-item-icon{
      color: $text-link;
    }
    .active-status{
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 3px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $text-link;
    }
  }
}
.yc-nav-single{
  text-align: left;
  .nt-item{
    cursor: default;
  }
}
.yc-nav-tab-line{
  width: 100%;
  height: 12px;
  background-color: $background-base;
}
