.operate-log{
  padding: 20px;
  font-size: 14px;
  p{
    font-size: 14px;
  }
  span{
    font-size: 14px;
  }
  .ant-select-arrow {
    font-size: 8px !important;
  }
  .search-item{
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 ;
    .ant-input-group-wrap{
      position: absolute;
      left: 246px;
      z-index: 11;
      border-left: 1px solid rgb(217, 217, 217);
      padding-top: 5px;
      height: 100%;
      padding-left: 15px;
    }
    >p{
      display: inline-block;
      margin-right: 10px;
    }
    .ant-input-group{
      width: 310px;
      .ant-input{
        border-radius: 4px;
      }
    }
    .ant-select{
      width: 100px;
    }
  }
  .table{
    .circle-item:before{
      width: 6px;
      height: 6px;
      content: "";
      border-radius: 3px;
      background-color: #3DBD7D;
      display: inline-block;
      margin-right: 6px;
    }
    .no-attention:before{
      width: 6px;
      height: 6px;
      content: "";
      border-radius: 3px;
      background-color: #BCC1CC;
      display: inline-block;
      margin-right: 6px;
    }
  }
}
