.messageDetail{
  &-header{
    padding: 20px;
    font-size: 14px;
    color: #4E5566;
    background: #ffffff;
    &-bold{
      color: #20242E;
      font-size: 16px;
      font-weight: bolder;
      margin-right: 20px;
      &-sum{
        color: #FB5A5C;
        margin: 0 6px;
      }
    }
    &-tips{
      margin: 0 7px;
      &-num{
        color: #20242E;
        margin: 0 6px;
      }
    }
  }
  &-table{
    &-box{
      padding: 0 20px;
    }
    &-title{
      border-left: 3px solid #1c80e1;
      padding-left: 7px;
      font-weight: bold;
      margin-top: 20px;
    }
    &-single{
      margin: 10px 0 40px 0;
    }
    &-subTitle{
      border-bottom: 2px solid #1C80E1;
      padding-bottom: 10px;
      font-size: 12px;
      font-weight: bold;
      margin: 10px 0 12px 0;
      span{
        margin-left: 6px;
      }
    }
    &-total{
      margin-left: 6px;
    }
    &-headerLine{
      height: 1px;
      margin-top: 13px;
      background-color: #E5E5E5;
    }
    &-container{
      margin-top: 16px;
      .ant-table-thead{
        .firstTitle{
          span{
            padding-left: 10px;
          }
        }
      }
    }
  }

}

.yc-container-wrapper{
  position: relative;
  .iconToTop{
    position: fixed;
    left: calc(50% + 620px);
    bottom: 136px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #B9BCC7;
  }
  .iconToTop:hover{
    color: #A2A7B3 !important;
  }
  .iconToTop::before{
    font-size: 32px;
  }
}


.tiny-line{
  background-color: #E5E5E5;
  height: 1px;
}

.change-box{
  padding: 20px 26px 20px 26px;
  background: #ffffff;
  &-name{
    color: #20242E;
    font-size: 14px;
  }
}

.fix-header{
  max-height: 200px;
  .tab{
    padding: 0 20px;
    background: #ffffff;
    &-tabs{
      button{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.yc-assets-table-info {
  .table-info-title {
    max-width: 360px;
    display: block;
  }
  .list-width-120 {
    width: 120px;
  }
  .list-width-180 {
    width: 180px;
  }
  .table-info-list {
    display: inline-block;
    line-height: 22px;
    .info-tag{
      border-radius: 2px;
      display: inline-block;
      margin: 2px 0;
      padding: 3px 6px;
      line-height: 1;
      font-size: 12px;
      color: #FFFFFF;
    }
    .info-tag_add{
      color: $common-warning;
      //border: 1px solid $common-warning;
      background-color: #FFEDE0;
    }
    .info-tag_change{
      color: $common-error;
      //border: 1px solid $common-error;
      background-color: #FFE7E7;
    }
    .table-info-list-history{
      line-height: 1;
      height: 24px;
      span {
        line-height: 0
      }
    }
    .info {
      line-height: 22px;
      display: inline-block;
      vertical-align: middle;
      color: $text-title;
    }

    .info-title {
      color: $text-remark;
    }
    .info-content {
      max-width: 115px;
    }
    .info-over {
      color: $common-error;
    }
    .info-auction-1 {
      color: $color-warning-text;
    }
    .info-auction-3 {
      color: #4267cb;
    }
    .info-auction-5 {
      color: #3DBD7D;
    }
  }
}

.tAlignCenter_important {
  text-align: center !important;
}

.splitLine{
  margin: 0 4px;
}

.messageDetail-table-container{
  .ant-table-thead{
    .yc-publish-date span{
      margin-left: 10px;
    }
  }
}
