.bankruptcy-card {
  width: 366px;
  height: 120px;
  margin-right: 20px;
  vertical-align: top;
  border:1px solid #E8E8E8;
  display: inline-block;
  position: relative;
  .card-content {
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 34px;
    width: 366px;
    height: 20px;
    margin: auto;
    .card-content-role {
      display: inline-block;
      color: $text-title;
      font-size: 12px;
    }
  }
  &:hover {
    width:366px;
    height:120px;
    background:rgba(255,255,255,1);
    box-shadow:0 6px 10px 0 rgba(3,31,59,0.1);
    border-radius:2px;
    cursor: pointer;
  }
}

