
.edit-info-wrapper{
  .info-wrapper{
    padding: 20px;
  }
  .info-navigation{
    &-suffix{
      position: absolute;
      right: 0;
      top: -7px;
      bottom:0;
      z-index: 3;
      &__button{
        width: 70px;
        margin-left: 10px;
      }
    }
  }
  .mark-line {
    height: 1px;
    width: 100%;
    background-color: #F2F2F2;
  }
}

