.yc-business-tablebtn {
  margin: 20px 0 16px 0;
  position: relative;
  overflow: hidden;
  .yc-business-icon {
    position: relative;
    top: 4px;
    cursor: pointer;
  }
}
.yc-upload {
  position: relative;
  top: -1px;
  display: inline-block;
}
.yc-icon-export {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../../../assets/img/icon/icon_export.png");
}

.confirm-body {
  padding: 14px;
} 
.yc-confirm-title {
  color: #666;
  font-size: 16px;
  line-height: 28px;
  vertical-align: super;
}
.yc-confirm-content {
  margin-left: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  margin-bottom: 0;
}
.yc-confirm-btn {
  margin-top: 32px;
  text-align: right;
  font-size: 0;
}
.yc-confirm-footer-btn {
  height: 34px;
  margin-right: 10px;
   position: 'relative';
   top: -4px;
}