.yc-inquiry-public-table {
  .yc-base-content {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 27px;
    width: 1043px;
    border: 1px solid $border-base;
    &:last-child {
      border-bottom: 0;
    }
    &:nth-child(2) {
      border-right: 0;
    }
  }
  .yc-base-table {
    margin-top: 10px;
    margin-bottom: 27px;
  }
  .yc-base-infoTitle {
    width: 180px;
    height: 40px;
    display: inline-block;
    background-color: $background-base;
    color: $text-title;
    font-size: 12px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid $border-base;
    border-right: 1px solid $border-base;
  
  }
  .yc-base-infoName {
    width: 341px;
    height: 40px;
    line-height: 40px;
    color: $text-title;
    font-size: 12px;
    display: inline-block;
    padding-left: 20px;
    border-bottom: 1px solid $border-base;
    border-right: 1px solid $border-base;
  }
}
