<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <style>
        ___style___
    </style>
    <meta charset="UTF-8">
    <title>债务人画像查询报告</title>
</head>
<body>

<!-- 封面 -->
<div class="exp-title">
    <div class="title">债务人画像查询报告</div>
    <div class="name">{info.name}</div>
    <div class="number">{info.number}</div>
    <div class="time">{base.dateTime} 查询</div>
    <p>
        · 本报告内容为 {base.dateTime} 查询的版本，您所看到的内容为该截止时间的数据快照。
    </p>
    <p>
        · 本报告内容是源诚资产监控平台接受您的委托，基于公开信息挖掘的结果。源诚资产监控平台不对该查询结果的全面、准确、真实性负责。本报告应仅为您提供参考，真实结果请以各官方网站的公布结果为准。
    </p>
</div>
<!-- 基本信息 -->
<div class="exp-info border-b">
    <div class="icon firstName">
        {info.firstName}
    </div>
    <div class="info">
        <li class="font-l">
			<span class="n-title name-dishonest">
				{info.name}
				{info.dishonest}
			</span>
        </li>
        <li class="mg8-0">
            <div class="nAndI">
                <span class="n-title">证件号：</span>
                <span class="n-desc">{info.number}</span>
            </div>
        </li>
        <li>
            <div class="nAndI ">
                <!--				<span class="n-title">证件号：</span>-->
                <!--				<span class="n-desc">{info.formerNames}</span>-->
            </div>
        </li>
    </div>
</div>

<!-- 资产拍卖 -->
<div class="padding6 {overview.B10201.display}">
    <div class="entry-title ">
        <div class="et-cot font-l">
            <span class="fw-bold mg-r">{overview.B10201.total}条</span>
            <span>相关资产拍卖</span>
        </div>
    </div>
    <div class="{overview.B10201.role.display}">
        <div class="fw-bold second-title">角色分布</div>
        <table class="table-td-20 table-border mg8-0">
            {overview.B10201.role.list}
        </table>
    </div>
    <div class="{overview.B10201.result.display}">
        <div class="fw-bold second-title">拍卖结果分布</div>
        <table class="table-td-20 table-border mg8-0">
            {overview.B10201.result.list}
        </table>
    </div>
</div>

<!-- 代位权信息 -->
<div class="padding6 {overview.B10202.display}">
    <div class="entry-title">
        <div class="et-cot font-l">
            <span class="fw-bold mg-r">{overview.B10202.total}条</span>
            <span>裁判文书 - 代位权</span>
        </div>
        <div class="{overview.B10202.year}">
            <div class="fw-bold second-title">年份分布</div>
            <table class="table-td-20 table-border mg8-0">
                {overview.B10202.year.list}
            </table>
        </div>
        <div class="{overview.B10202.reason}">
            <div class="fw-bold second-title">案由分布</div>
            <table class="table-td-20 table-border mg8-0">
                {overview.B10202.reason.list}
            </table>
        </div>
        <div class="{overview.B10202.case}">
            <div class="fw-bold second-title">案件类型分布</div>
            <table class="table-td-25 table-border mg8-0">
                {overview.B10202.case.list}
            </table>
        </div>
    </div>
</div>

</div>
<!-- end -->

<!-- 资产拍卖类目 -->
<div class="{asset.display}">
    <!-- 类目标题 -->
    <div class="entry-title">
        <div class="et-cot fw-bold font-l">资产拍卖（智能精准匹配 {asset.total}）</div>
    </div>
    <!-- 类目表格 -->
    <div class="entry-table border-t">
        <table class="table-td-s-30">
            <!-- 资产拍卖列表 -->
            {asset.list}
        </table>
    </div>
</div>

<!-- 代位权【裁判文书】类目 -->
<div class="{subrogation.judgment.display}">
    <!-- 类目标题 -->
    <div class="entry-title">
        <div class="et-cot fw-bold font-l">代位权（裁判文书 {subrogation.judgment.total}）</div>
    </div>
    <!-- 类目表格 -->
    <div class="entry-table border-t">
        <table class="table-td-s-30">
            {subrogation.judgment.list}
        </table>
    </div>
</div>

<!-- 【涉诉文书】类目 -->
<div class="{lawsuit.judgment.display}">
    <!-- 类目标题 -->
    <div class="entry-title">
        <div class="et-cot fw-bold font-l">涉诉文书 {lawsuit.judgment.total}</div>
    </div>
    <!-- 类目表格 -->
    <div class="entry-table border-t">
        <table class="table-td-s-30">
            {lawsuit.judgment.list}
        </table>
    </div>
</div>

<!-- 【失信记录】类目 -->
<div class="{lawsuit.dishonest.display}">
    <!-- 类目标题 -->
    <div class="entry-title">
        <div class="et-cot fw-bold font-l">失信记录 {lawsuit.dishonest.total}</div>
    </div>
    <!-- 类目表格 -->
    <div class="entry-table border-t">
        <table class="table-td-s-30">
            {lawsuit.dishonest.list}
        </table>
    </div>
</div>

<!-- 经营【税收违法 】类目 -->
<div class="{tax.display}">
    <!-- 类目标题 -->
    <div class="entry-title">
        <div class="et-cot fw-bold font-l">税收违法 {tax.total}</div>
    </div>
    <!-- 类目表格 -->
    <div class="entry-table border-t">
        <table class="table-td-s-30">
            {tax.list}
        </table>
    </div>
</div>

</body>

</html>
