.yc-inform-center {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: $background-antd-border;
  min-height: 731px;
  .yc-message-content {
    em {
      font-weight: 700;
      margin: 0 2px;
      font-style: normal;
    }
  }
  .yc-message-operation{
    color: #1C80E1;
    font-size: 12px;
    &-text{
      color: #B2B8C9;
      text-decoration:line-through;
    }
  }
  .yc-message-delete {
    color: $fontColor-base-2;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .yc-content-wapper {
    background-color: $background-antd-border;
    color: #20242e;
    box-sizing: border-box;
    .yc-page-title {
      color: $text-title;
      font-size: 16px;
      line-height: 16px;
      padding: 19px 0px 19px 0px;
      display: inline-block;
      font-weight: bold;
    }
    .yc-page-return{
      font-size: 16px;
      margin-left: 10px;
      padding: 10px;
      cursor: pointer;
    }
    //.yc-page-oblique{
    //  margin: 0px 8px ;
    //  color: #7D8699;
    //  font-size: 17px;
    //  vertical-align: middle;
    //}
    .yc-page-line{
      background-color: $background-line;
      height: 1px;
    }
    .yc-con-item-wrapper {
      margin: 20px 0 16px 0;
      &-btn{
        font-size: 12px;
        color: #4E5566;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
        &-icon{
          font-size: 16px;
          margin-right: 4px;
        }
      }
      .btn-default {
        height: 30px;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .ant-table-thead{
      .message-type{
        span{
          margin-left: 24px;
        }
      }
    }
    .ant-table-tbody{
      .message-unRead{
        font-weight: bold;
      }
      .message-normal{
        font-weight: normal;
      }
    }
    .yc-table-box{
      margin: 0 20px;
    }
  }
  .yc-table-check{
      position: relative;
      top: 5px;
  }
}
