.yc-inform-center {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  min-height: 731px;
  .yc-message-content {
    em {
      font-weight: 700;
      margin: 0 2px;
      font-style: normal;
    }
    &:hover {
      cursor: pointer;
      color: #337ab7;
    }
  }
  .yc-message-delete {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .yc-content-wapper {
    background-color: #FFFFFF;
    color: #20242e;
    box-sizing: border-box;
    .yc-page-title {
      color: #20242e;
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
      padding: 20px;
    }
    .yc-page-line{
      background-color: #E5E5E5;
      height: 1px;
    }
    .yc-con-item-wrapper {
      margin: 20px 0 16px 0;
      .btn-default {
        height: 30px;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .ant-table-thead{
      .message-type{
        span{
          margin-left: 36px;
        }
      }
    }
    .ant-table-tbody{
      .message-unRead{
        font-weight: bold;
      }
      .message-normal{
        font-weight: normal;
      }
    }
    .yc-table-box{
      margin: 0 20px;
    }
  }
}
