 .business-financial-container {
   display: inline-block;
   line-height: 30px;
   padding-top: 20px;
   width: 300px;
   &-card {
     width: 50%;
     display: inline-block;
     color: #4E5566;
     font-size: 12px;
     padding-bottom: 16px;
     line-height: 18px;
     height: 18px;
     &-num {
       color: $text-title;
       padding-right: 5px;
       font-weight: bold;
     }
   }
 }
