.yc-spin-wrapper{
  min-height: 130px;
  position: relative;
  border-radius: 2px;
  height:100%;
  .yc-spin-content{
    //position: relative;
  }
  .yc-spin-blur{
    filter:blur(1px);
  }
  .yc-spin-content-modal{
    width: 100%;
    height: 100%;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
    background-color: rgba(215,215,215,.2);
  }
  .yc-spin-mask{
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);

    background-color: rgba(215,215,215,.2);

    .yc-spin-mask-ZIndex{
      z-index: -100;
    }
    .yc-mask-wrapper-modal{
      position: relative;
      width: 800px;
      margin: auto;
      margin-top: 100px;
      height: 600px;
    }
    .yc-mask-wrapper{
      position: relative;
      height: 100%;
      width: 100%;
    }
    .yc-mask-content{
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 250px;
      height: 120px;
      margin: auto;
      img{
        display: block;
        margin: 20px auto;
        width: 40px;
        height: 40px;
      }
      div{
        margin-top: 10px;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        font-weight:bold;
        color: #2db7f5;
      }
    }
  }


}
.yc-spin-wrapper-simple {
  min-height: 30px!important;
  .yc-mask-content{
    height: 30px!important;
    img{
      display: none!important;
    }
  }
}
.yc-spin-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1500;
  height: 100%;
  width: 100%;

}
