.yc-login {
  height: 100%;
  min-width: 1200px;
  min-height: 800px;
  // position: relative;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  input::-webkit-input-placeholder {
    color: $text-remark !important;
  }

  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $text-remark !important;
  }

  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $text-remark !important;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $text-remark !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .yc-verificationCode {
    position: absolute;
    height: 44px;
    right: 0;
    cursor: pointer;
  }
  .yc-login-header {
    height: 128px;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F7FA', endColorstr='#F2F4F7', GradientType=0);
    .yc-login-logo {
      max-width: 1200px;
      margin: 0 auto;
      border: 0;
      font-size: 24px;
      color: #1C80E1;
      .yc-login-wrapper {
        display: inline-block;
        margin-top: 30px;
        img {
          vertical-align: middle;
          height: 48px;
        }
      }
      .yc-login-world {
        display: inline-block;
        margin-left: 10px;
        height: 28px;
        line-height: 28px;
        padding-right: 15px;
        position: relative;
        color: #4e5566;
        font-size: 14px;
        border-radius: 2px;
        background-color: #F0F5FC;
        .yc-login-icon {
          display: inline-block;
          margin-right: 5px;
          margin-left: 8px;
        }
      }
      //.yc-login-world {
      //  display: inline-block;
      //  height: 48px;
      //  position: relative;
      //  color: #4e5566;
      //  font-size: 14px;
      //  .yc-login-icon {
      //    display: inline-block;
      //    margin-right: 5px;
      //    margin-left: 8px;
      //  }
      //}
    }
  }
  .yc-login-wapper {
    background: -moz-linear-gradient(top, #2268C6 0%, #379CE7 100%);
    background: -webkit-linear-gradient(top, #2268C6 0%, #379CE7 100%);
    background: -o-linear-gradient(top, #2268C6 0%, #379CE7 100%);
    background: -ms-linear-gradient(top, #2268C6 0%, #379CE7 100%);
    background: linear-gradient(to bottom, #2268C6 0%, #379CE7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2268C6', endColorstr='#379CE7', GradientType=0);
    //background-image: url("../../assets/img/login/background.jpg");
    background-color: #ffffff;

    background-repeat: no-repeat;
    //background-position: left bottom, right top;
    position: absolute;
    top: 128px;
    bottom: 132px;
    left: 0;
    right: 0;
    // min-height: 811px;
    .yc-login-content {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img/login/left_background.png");
      background-repeat: no-repeat;
      background-position: 25%;
      .yc-login-main {
        background: #FFFFFF;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        width: 380px;
        height: 380px;
        position: absolute;
        top: 45%;
        left: 65%;
        margin-top: -180px;
        margin-left: -180px;
        padding: 20px 30px 0 30px;
        font-size: 14px;
        .yc-card-title {
          padding: 20px 0;
          margin-bottom: 20px;
          display: block;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: $text-title;
          font-weight: bold;
        }
        .yc-form-wrapper {
          position: relative;
          .yc-login-input {
            position: relative;
            height: 44px;
            line-height: 24px;
            width: 320px;
            padding-left: 40px;
          }
          .yc-form-icon {
            display: inline-block;
            position: absolute;
            width: 34px;
            height: 43px;
            line-height: 43px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            top: 1px;
            left: 1px;
            color: $text-remark;
            font-size: 18px;
            z-index: 1;
          }
          //.yc-form-userName {
          //  background-image: url("../../assets/img/login/icon_username.png");
          //}
          //.yc-form-passWord {
          //  background-image: url("../../assets/img/login/icon_password.png");
          //}
          //.yc-form-resetImg {
          //  background-image: url("../../assets/img/login/icon_photocode.png");
          //}
        }
        .yc-login-clearfix {
          font-size: 12px;
          color: $text-content;
          .yc-checked-left {
            float: left;
          }
          .yc-checked-right {
            float: right;
            .yc-forget-password {
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
        }
        .yc-login-btn {
          margin-top: 30px;
          border-radius: 2px;
          width: 100%;
          height: 44px;
          font-size: 14px;
        }

        .yc-login-btn-phone {
          margin-top: 48px;
          border-radius: 2px;
          width: 100%;
          height: 44px;
          font-size: 14px;
        }
      }
    }
  }
}
.yc-login-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 132px;
  background-color: #fff;
  .yc-footer-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    .yc-footer-text {
      font-size: 12px;
      color: #7d8699;
      display: block;
      .yc-logo-icon {
        color: $common-base;
        margin-right: 4px;
        display: inline-block;
        font-size: 14px;
      }
      &:first-child {
        margin-top: 40px;
        margin-bottom: 12px;
      }
    }
  }
}
.yc-login-clearIcon {
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 14px;
  display: none
}
.yc-login-placeholder {
  position: absolute;
  top: 6px;
  left: 40px;
  font-size: 14px;
  color: #7D8699;
}

.tabType{
  color: #20242E;
  .ant-tabs-bar{
    margin-bottom: 0;
    .ant-tabs-nav-scroll{
      width: 100%;
      .ant-tabs-tab{
        width: 50%;
        margin: 0;
        .ant-tabs-tab-inner{
          padding: 10px 10px 16px 0;
          font-size: 16px;
          text-align: center;
        }
        &-active{
          font-weight: bold;
        }
      }
    }
    .ant-tabs-nav{
      width: 320px;
    }
  }
  .ant-tabs-content{
    .sendVerifyCode{
      font-size: 12px;
      position: absolute;
      height: 44px;
      right: 0;
      line-height: 44px;
      margin-right: 16px;
      &-sendBefore{
        color: #1C80E1;
        cursor: pointer;
        &:hover{
          color: #1971C7;
          text-decoration: underline;
        }
      };
      &-sending{
        color: #4E5566;
      };
      &-sendAfter{
        color: #1C80E1;
        cursor: pointer;
      };
    }
    .resend{
      font-size: 12px;
      position: absolute;
      height: 44px;
      right: 0;
      cursor: pointer;
      line-height: 44px;
      margin-right: 16px;
      color: #4E5566;
    }
  }
}
