.yc-ring-rcharts {
  display: inline-block;
  margin: 20px 40px 20px 20px;
}
.yc-ring-description {
  font-size: 12px;
  display: inline-block;
  .yc-ring-item {
    margin-bottom: 16px;
    .ring-item-name {
      width: 48px;
      display: inline-block;
    }
    .ring-item-num {
      margin-left: 12px;
    }
  }
}
