.project-status{
  display: inline-block;
  padding: 0 10px;
  border-radius: 2px;
  margin-right: 7px;
  width: 70px;
  text-align: center;
}

.yellow{
  color: $common-warning;
  border: 1px solid #FDB681;
  background-color: #FDF8F4;
}

.bule{
  color: $text-link;
  border: 1px solid #77B9F9;
  background-color: #F0F7FF;
}

.gray{
  color: $text-remark;
  border: 1px solid $border-base;
  background-color: $background-base;
}

.red{
  color: $common-error;
  border: 1px solid #FF9293;
  background-color: #FFF3F3;
}

.reference-price{
  color: $common-error;
  font-weight: 400;
}
