
.yc-party-info-list {
  &:last-child{
    margin-bottom: 0;
  }
  margin-bottom: 5px;

  .party-info {
    display: inline-block;
    vertical-align: top;
  }

  .party-info-title {
    color: $text-remark;

    .li-role {
      text-align: justify;
      text-justify: distribute-all-lines;
      text-align-last: justify;
    }
  }

  .party-info-type-0 {
    width: 40px;
  }

  .party-info-type-1,
  .party-info-type-2,
  .party-info-type-3,
  .party-info-type-4 {
    width: 80px;
  }

  .party-info-content {
    padding-right: 30px;
    position: relative;

    li {
      max-width: 140px;
    }

    .party-info-status {
      position: absolute;
      bottom: 0;
      right: -15px;
      height: 18px;
      width: auto;
      text-align: center;
      cursor: pointer;
      color: $text-link;

      &:hover {
        color: $text-link-hover;
      }

      &:active {
        color: $text-link-hover;
      }

      i {
        font-size: 10px;
        padding-top: 5px;
        vertical-align: top;
        margin-left: 3px;
      }
    }
  }
}
