// 信息监控-风险监控-破产重组列表 案件信息
.case-info-content{
  &-item{
    display: flex;
    line-height: 18px;
    margin-bottom: 2px;
    &-label{
      color: #7D8699;
      min-width:60px ;
      text-align: right;
    }
  }
}
// 信息监控-风险监控-破产重组列表 公告信息
.notice-info-content{
  &-item{
    display: flex;
    line-height: 18px;
    margin-bottom: 2px;
    &-label{
      color: #7D8699;
      min-width:60px ;
      text-align: right;
    }
    &-num{
      padding: 0 8px;
      line-height: 18px;
      color: #1C80E1;
    }
    &-add{
      line-height: 20px;
      padding: 0 8px;
      background: #FFE7E7;
      color: #FB5A5C;
    }
  }
}
// 关联公告弹窗
.relation-notice-modal{
  .ant-modal-content{
    .ant-modal-body{
      padding: 35px 30px 0;
      max-height: 447px !important;
      overflow: auto;
      .ant-timeline-item{
        &-content{
          .yc-Timeline-item{
            &-publish{
              color: #7D8699;
            }
            &-typeName{
              width: 64px;
              line-height: 20px;
              background: #F0F1F5;
              text-align: center;
              border-radius: 1px;
              border: 1px solid #DADDE6;
              font-size: 12px;
              display: inline-block;
            }
            &-title{
              margin: 0 8px 0 12px;
            }
          }
        }
      }
    }
  }
}
