.yc-assets-auction{
  .relevance-announcement-btn{
    width: 110px;
    height: 24px;
    margin-left: 8px;
    line-height: 24px;
    font-weight: 400;
    color: #20242E;
    font-size: 12px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DADDE6;
    cursor: pointer;
  }
  .relevance-announcement-btn:hover{
    color: #1C80E1;
    border: 1px solid #1C80E1;
  }
}
