.risk-limit-container {
  display: inline-block;
  line-height: 12px;  /*单独给子元素设置行高，覆盖父级元素的行高*/
  vertical-align: middle;  /*基线居中对齐*/

  &-card {
    color: #4E5566;
    font-size: 12px;
    &-num {
      color: $text-title;
      padding-right: 5px;
      font-weight: bold;
    }
  }
}
