.yc-content-query {
  .yc-lawsuits-items {
    position: relative;
    margin-bottom: 18px;
    .item {
      position: relative;
      display: inline-block;
    }
    .close {
      position: absolute;
      right: -5px;
      top: -5px;
      cursor: pointer;
    }
    .add {
      position: relative;
      top: 10px;
      cursor: pointer;
    }
  }
  .yc-lawsuits-tablebtn {
    margin: 15px 0;
  }
  .yc-tabs-simple ul {
    padding-left: 0;
  }
}
