.yc-content-query {
  .yc-query-item {
    position: relative;
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    .yc-query-item-title {
      padding: 9px 3px;
      height: 34px;
      line-height: 14px;
      font-size: 12px;
    }
  }
  .yc-query-item-btn {
    float: right !important;
    margin-right: 0 !important;
    .yc-btn {
      margin: 0 0 0 10px;
    }
    button {
      margin-left: 5px;
    }
  }
  .yc-lawsuits-items {
    position: relative;
    margin-bottom: 18px;
    .item {
      position: relative;
      display: inline-block;
    }
    .close {
      position: absolute;
      right: -5px;
      top: -5px;
      cursor: pointer;
    }
    .add {
      position: relative;
      top: 10px;
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  }
  .yc-lawsuits-tablebtn {
    margin: 15px 0;
  }
  .yc-tabs-simple ul {
    padding-left: 0;
  }
}
